[2015-06-12 08:55] ajbelle opened #1 "Where is instalation file?"
I have searched standard Firefox install and https://hg.mozilla.org/mozilla-central. I cant find "Firefox central repository", to install and test your very useful code. Any hint?

[2015-06-12 17:48] tobiasdiez commented on #1
Thank you for your interest. The problem is that Mozilla decided to stop supporting the AddOn-Builder platform and thus there is currently no way to run this addon. I'm working on a new version, but so far it is not ready yet (but hopefully soon...)

[2015-10-11 22:20] koppor opened #2 "When a DOI link is clicked, it should be fetched via JabRef"
When I have a publishers page opened, e.g., http://ieeexplore.ieee.org/xpl/articleDetails.jsp?arnumber=7133510 and I click on the DOI link (e.g., http://dx.doi.org/10.1109/SOSE.2015.22), the URL should *not* open, but the "DOI to BibTeX" fetcher of JabRef called.

I know that one could also download the bib at the publisher, but the DOI import of JabRef just works perfect, why not reusing that?

[2015-10-12 11:53] koppor opened #3 "Hook into scholar.google.com"
When scholar.google.com is displayed, it should displayed after each paper whether it's already stored in JabRef.

[2015-10-23 10:42] teertinker commented on #1
Any status updates?

[2015-11-05 21:21] tobiasdiez commented on #1
I have a working prototype which however still needs some clean-up. Hopefully, there will be a first release in a few weeks.

[2015-11-11 14:05] tobiasdiez opened #4 "Disable import button if there are no recognized items"
The import button should only be enabled if there is something to import. Maybe even display the number of recognized items similar to here:
![Badged button](https://mdn.mozillademos.org/files/9803/badge.png)
[Badged button](https://developer.mozilla.org/en-US/Add-ons/SDK/Low-Level_APIs/ui_button_action)

[2015-11-11 15:53] tobiasdiez opened #5 "Show progress indicator while import is running"
Show progress indicator while import is running. Maybe just use a different icon, see  [button.state()](https://developer.mozilla.org/en-US/Add-ons/SDK/Low-Level_APIs/ui_button_action).

[2015-11-11 16:00] tobiasdiez opened #6 "Support multiple translators"
At the moment, we just take the Zotero translator with the highest priority. There should be an interface to select a different translator.

[2015-11-11 16:02] tobiasdiez opened #7 "Allow export as Bibtex or BibLatex"
Add option to allow export as Bibtex or BibLatex

[2015-11-11 22:52] tobiasdiez opened #8 "Put addon on Firefox repository"
Update the package meta data (for example, the url field) and make it possible to Install the addon from the Firefox central repository (submit [here](https://addons.mozilla.org/en-US/developers/addon/submit/2)). Also close [JabRef feature request](http://sourceforge.net/p/jabref/discussion/318824/thread/3d336cd4/).

[2015-11-11 23:00] koppor commented on #7
What would be the difference? In my current settings, biblatex perfectly handles bibtex files. Are there fields which need a different naming?

[2015-11-11 23:12] tobiasdiez commented on #1
A very early version is now available. Just follow the [install instructions on the main page](https://github.com/tobiasdiez/Jabref-FirefoxAddon#installation-and-settings). It should work with the current Zotero and Firefox versions. If not, let me know. Any bug reports or feature requests are welcome!

[2015-11-11 23:16] tobiasdiez commented on #7
Internally, zotero translators are used to translate the webpage to a zotero item and then to bibtex. There are two different translators (bibtex vs biblatex) for the latter conversion, which result in different output. For more information, see the [discussion in the zotero forum](https://forums.zotero.org/discussion/33750/biblatex-export-versus-bibtex-export/).

[2015-11-11 23:18] #1 closed

[2015-11-11 23:22] tobiasdiez commented on #3
You are right that it would be nice if there would be some feedback the other way around, i.e. show information from Jabref/bibtex in the browser.
For the moment, however, such a feature goes beyond the scope of this add-on.

[2015-11-11 23:22] #3 closed

[2015-12-04 12:37] koppor opened #9 "Add more refined status information"
When I visit https://www.uni-bamberg.de/pi/bereich/forschung/publikationen/13-03-lenhard-wirtz/ and press the "JR" button in the toolbar, I expect JabRef to open and the linked BibTeX file of the page to be imported in JabRef. However, nothing appears. I would have expected an error message at least. Currently, nothing happens here.

Possibly refs #4

[2015-12-04 12:53] tobiasdiez commented on #9
Since there is no crawler registered for uni-bamberg.de, Zotero and consequently the add-on does not find the bib file.
But you are correct, there should be some visible clue that no bibliographic information is available, as #4 tracks.

[2015-12-04 12:53] #9 closed

[2015-12-04 13:06] koppor opened #10 "Find link to `bib` file and import it"
When I visit https://www.uni-bamberg.de/pi/bereich/forschung/publikationen/13-03-lenhard-wirtz/, there is a link "Bibtex" opened, which points to https://www.uni-bamberg.de/fileadmin/uni/fakultaeten/wiai_lehrstuehle/praktische_informatik/Dateien/Publikationen/BibTex/lenhard2013seke.bib.

The Jabref-FirefoxAddon should be able to parse the HTML and find out that a bib is linked. If such a thing is

[2015-12-04 13:39] tobiasdiez commented on #10
A generic Zotero Crawler looking for links to bib files should be an option. Good suggestion.

[2015-12-05 17:35] koppor commented on #9
Similar issue: When I open http://ieeexplore.ieee.org/xpl/articleDetails.jsp?reload=true&arnumber=528403 and click "JR", I can see Zotero importing it, then the new entry disappears and nothing happens. No entry in JabRef. What is the expected behavior? How can I trace errors?

[2015-12-05 17:47] tobiasdiez commented on #9
Can you please open a new issue for this? Thanks.

I couldn't reproduce your error. For me the Addon works as expected on your site (i.e. open Jabref with one item waiting for import). For debugging, you can use the Browser console (Crtl + Shift + J).

[2016-01-04 15:17] tobiasdiez opened #11 "Rename `JabFox` and transfer ownership to JabRef"

[2016-01-06 13:21] simonharrer commented on #11
:+1:

[2016-01-13 07:35] ajbelle opened #12 "FireBib could not be verified on Win7"
Further to my email 2015-12-22 Firefox notifed me it has _disabled FireBib_ as it could not be verified for use!

https://support.mozilla.org/en-US/kb/add-on-signing-in-firefox?as=u&utm_source=inproduct suggests I contact you or disable all protection!

Are you updating Firebib0.0.2 with Firefox verification? Is there a workaround?

Firebib was working well for me, but I do not wish to "disable al

[2016-02-08 17:02] bernhard-kleine opened #13 "Verification for the plugin needed since firefox 45"
The plugin could not be installed since verification was not performed.

Please ensure that the plugin firebib.xpi is verified by Mozilla.

Regards

Bernhard

[2016-02-11 02:59] ajbelle commented on #12
Closed because superseded by https://github.com/JabRef/JabFox/issues/13

[2016-02-11 02:59] #12 closed

[2016-02-11 09:52] tobiasdiez commented on #13
Thanks for reporting this issue. I'm aware of these verification problems.

The plan is finish/implement a few [issues](https://github.com/JabRef/JabFox/issues) and then put the addon on Firefox' central repository, see #8. This is the only way to solve the verification problems, but will take some time. Until then you can disable the verification as described in the answer to ["What are my option

[2016-02-11 09:52] #13 closed

[2016-02-13 13:59] #4 closed

[2016-02-13 14:00] #5 closed

[2016-02-14 13:13] #11 closed

[2016-02-14 13:43] tobiasdiez opened #14 "Create screenshots and add them to readme"
https://help.github.com/articles/relative-links-in-readmes/

[2016-02-16 08:51] tobiasdiez opened #15 "Change default JabRef path"
to C:\Program Files\JabRef\JabRef.exe

[2016-02-16 09:05] tobiasdiez opened #16 "Change E-Mail address + url"

[2016-02-16 09:06] tobiasdiez opened #17 "Add process image to pdf download"
Also write: "We are getting your items ready, just wait".

[2016-02-16 09:19] tobiasdiez opened #18 "Downloaded pdf is not accessible"
The downloaded pdf is immediately deleted.

[2016-03-03 21:40] ClemSc opened #19 "Recognition of java archive"
Hi !
For Linux users, linking the java executable archive of JabRef does not work out of the box. It is easily solved by linking a bash launcher instead:
[code]
"$@" collect the import parameter passed by Jabfox.

Perhaps Jabfox could call java directly when linked the jar archive.

Great plugin btw, I've been looking for it !

[2016-03-03 22:26] tobiasdiez commented on #19
Thanks for your feedback!

If you put in the .jar file as the path, then what happens? Is an error displayed, does JabRef opens but nothing is imported or does nothing happens?

[2016-03-03 22:45] ClemSc commented on #19
Ok, I just repeated the steps on an other computer, putting the .jar as the path (being as /home/username/bin/jar/jabref2-10.jar) and here JabRef opens and import the data. I'll try to reproduce the issue tomorrow on the computer I noticed it, it might have been my mistake (pretty sure to have used the browse function though).

[2016-03-04 09:44] ClemSc commented on #19
So what does not work:

On Firefox 44.0.2, Jabfox 0.9.0, JabRef 3.2, path to JabRef: /home/username/bin/jar/JabRef-3.2.jar, java version 1.**8**.0_74 (from Oracle java 8 packages). I checked the permission of the jar file.
When hitting the "Import Ref. into JabRef..."  button, the notification "Import the following Items into Jabref etc." is prompted, but nothing happen: JabRef don't open, if alre

[2016-03-25 21:09] tobiasdiez commented on #19
I did some further investigations into this but could not resolve the problem. Sometimes it works with java 1.7 but not always. Since it works on systems with a newer java version, I am inclined to just ignore the problem. Especially since you gave a workable workaround using the sh bash script. So well..closed for the moment.

[2016-03-25 21:09] #19 closed

[2016-03-26 15:41] #18 closed

[2016-03-26 16:15] #17 closed

[2016-03-26 16:27] #16 closed

[2016-03-26 16:28] #15 closed

[2016-03-28 12:35] tobiasdiez commented on #8
The addon is now available under https://addons.mozilla.org/en-US/firefox/addon/jabfox/ and should be signed in around 10 days from now. I leave this issue open until the review my Mozilla is finished.

[2016-04-02 12:59] tobiasdiez commented on #8
The addon is now signed and can be installed directly via https://addons.mozilla.org/en-US/firefox/addon/jabfox/.

[2016-04-02 12:59] #8 closed

[2016-04-02 13:02] tobiasdiez commented on #13
The addon is now signed and can be installed directly via https://addons.mozilla.org/en-US/firefox/addon/jabfox/.

[2016-04-03 04:15] ajbelle commented on #13
Works a treat (Win7-Firefox45.0.1), one click instal, then oneclick and it opens the record in JabRef. Pulls full bibliographic information that I can't even find a link to.  THX for getting it signed.

[2016-04-20 19:34] dbitouze opened #20 "On Linux, nothing happens with JabRef-3.3.jar"
Hi,

many thanks for this module!

Here on Linux, nothing happens with `JabRef-3.3.jar`, despite:

- remote operation is enabled (port 6050) in `JabRef`,
- the path to the `JabRef-3.3.jar` is adjusted in the add-on settings.

Maybe the trouble comes from the fact, on Linux we haven't any executable `JabRef.exe`, only `.jar` files. In such case, the manual should specify this module works only on W

[2016-04-20 19:52] tobiasdiez commented on #20
Thanks for reporting this issue.

Which version of Java are you using (run java --version in a terminal)? It seems like there is a problem with java version 1.7 but it works for 1.8, see #19.
Probably the script provided in https://github.com/JabRef/JabFox/issues/19#issue-138304803 is a workaround.

[2016-04-20 20:09] dbitouze commented on #20
You're welcome!

[code]

Not all 1.8 versions, I'm afraid :)

Ooops, sorry to have miss it!

Now, it works like a charm! Thanks.

[2016-04-20 20:09] #20 closed

[2016-04-23 17:54] RKBK commented on #19
That script is also needed on Mac OSX.

[2016-04-23 18:13] RKBK opened #22 "Store PDFs according to Jabref settings instead of Zotero"
I have a system of storing the pdfs associated with my bib file according to settings in Jabref (master folder, naming scheme). Previously, I've been using the LocalCopy addon (http://www.lhnr.de/ext/localcopy/) to download PDFs, which automatically renamed them and placed them in the right folder.

Is there any way to use JabFox in a similar way, i.e. immediately after downloading the pdf to the

[2016-04-23 18:57] tobiasdiez commented on #22
There is some built-in functionality in JabRef which covers this case. Under Quality -> Cleanup entries you find the option "Move linked files to default file directory". So just run the cleanup after you imported some entries with JabFox and the files should be moved to the correct directory.
We plan to add the ability to automatize the last step, i.e. run the cleanup automatically after every im

[2016-04-23 18:57] #22 closed

[2016-04-23 19:06] tobiasdiez commented on #2
Mhhh... I think always opening a doi with JabRef is also not desired. So the only possibility would be to add a context menu item. But I don't like this too much since it destroys the simplicity of the one-button-to-rule-them-all-concept.

[2016-04-23 19:06] #2 closed

[2016-04-23 19:08] tobiasdiez commented on #6
So far I'm quite satisfied with the output of the default translators. Thus I put this issue on hold. If enough user want to choose a different translator, then I will reopen it.

[2016-04-23 19:08] #6 closed

[2016-04-23 19:14] tobiasdiez commented on #10
Thinking again about the situation you described: if the website contains a link to a bib file, then we don't need an addon at all, do we? Just clicking the link should open a window asking how you want to open the file and you can choose JabRef there. Afterwards every link to a bib file is automatically opened by JabRef. So no addon needed.

(Moreover, a general zotero crawler also has to handle

[2016-04-23 19:14] #10 closed

[2016-04-23 23:31] RKBK commented on #22
Great, thanks for the explanation!

[2016-04-26 21:01] RKBK opened #23 "Option to not save snapshot link in JabRef?"
Is there any way to prevent JabFox from storing a link to the Zotero snapshot? I have no need for an html file of the publication web site.

The actual issue I'm trying to solve is the cleanup of items imported from Zotero. I always get both the PDF and the snapshot link. After running the automatic cleanup, the PDF is placed second in the list of document links (I assume the cleanup first deletes

[2016-04-29 18:15] tobiasdiez commented on #23
Yes it is possible to prevent the creation of the snapshot: under the "General" tab of the **Zotero** preferences you can disable the option "Automatically take snapshots...".

[2016-04-29 18:15] #23 closed

[2016-05-11 16:42] RKBK opened #24 "Jabfox import places Journal name and year in BibLaTeX fields Date and Journaltitle, not in bibtex fields"
When importing an entry using JabFox and Jabref in Bibtex mode, the Journal and year fields are empty. I suppose that this is because JabFox fills in the Date and the Journaltitle fields instead, leaving the necessary Journal and Year entries empty. This means that I have to correct the entry by copying or adding the data to the right fields.

[2016-05-11 17:23] tobiasdiez commented on #24
Yes, the reason is that JabFox exports to BibLaTeX format and not the old BibTeX. Thus this issue is a duplicate of #7.

[2016-05-11 17:23] #24 closed

[2016-05-25 06:35] bernhard-kleine opened #25 "Jabfox does not finish"
I noticed that the Jabfox plugin (on Win7, Firefox 46.0.1 and previous versions) imports citations into Jabref, but at the same time blocks firefox completely. This is a serious since informations in other firefox tabs get easily lost when one has to shutdown firefox. Please solve this issue asap.

[2016-05-26 15:58] tobiasdiez commented on #25
Duplicate of https://github.com/JabRef/jabref/issues/1275

[2016-05-26 15:58] #25 closed

[2016-05-27 00:34] gdanielea opened #26 "JabFox button does not appear"
Hi,

sorry if it is a stupid question, but after installing jabfox in firefox, nothing appears on the toolbar.

[2016-05-27 07:11] tobiasdiez commented on #26
Is JabFox listed as an installed add-on (under Menu -> Add-ons)?
You can try to find the JabFox button under Menu -> Customize (at the bottom, left with a plus button as icon) -> search for JabRef icon.

Otherwise reinstalling the add-on might fix the problem.

[2016-05-28 10:13] gdanielea commented on #26
Yes, it is installed and I have tried to look for the icon under Customize. I also tried to reinstall the addon, but to no avail.

[2016-05-29 12:53] tobiasdiez commented on #26
You can try to restore the default toolbar under Menu -> Customize -> Restore defaults.
If this does not help, you might want to try out the solutions sketched here https://support.mozilla.org/en-US/questions/1087027.
If all this does not help, then please copy the output from `about:support`

[2016-06-17 14:37] pdebpdeb opened #27 "JabFox does not import into open .bib in JabRef if JabRef is already open"
Using JabRef, Firefox and JabFox on Window 10. When JabRef is closed, JabFox works as expected. But, when JabRef is already open, JabRef seems to go through Zotero but then does not import into the open instance of JabRef. JabRef is "listening" to port 5050. Any suggestions? Thanks.

[2016-06-20 13:10] tobiasdiez commented on #27
If you have JabRef open and double click a bib file in Windows Explorer, does JabRef uses the previously opened instance or opens a new one? Which JabRef version are you using?

[2016-06-25 07:24] tobiasdiez commented on #26
Closing this issue due to inactivity :zzz:
Please reopen the issue with additional information if the problem persists.

[2016-06-25 07:38] tobiasdiez commented on #27
Thanks Partha for the follow-up. Sadly, I have no real idea about the reason for this issue. You might try:
- make sure that only one version of JabRef is installed and that the path in the JabFox preferences is set correctly
- update to JabRef 3.4
- change the port from 5050 to something else
- open JabRef and run the following command `path-to-jabref.exe --importToOpen path-to-some-bib`. Does Ja

[2016-07-05 16:23] DazedandConfuzius opened #28 "JabFox does not work for me"
Hi there,
I was trying to set up JabFox but it does not work. Zotero is installed, but when I hit the JabFox button it shows me the little message "import the following into jabref" and automatically closes without anything happening. What could be the problem?

[2016-07-05 19:51] tobiasdiez commented on #28
Hi DazedandConfuzius,
ok, lets try to fix this problem. You might try:
- Change the path to the JabRef.exe in the add-on settings
- On Linux and Mac OSX you need a small bash script to load JabRef, see https://github.com/JabRef/JabFox#installation-and-configuration.
- Open the Browser Console (Ctrl + Shift + J) in Firefox and see if you get some error messages there.
- Is double-clicking a bib-Fil

[2016-07-06 12:54] DazedandConfuzius commented on #28
Hey, thanks. I just deactivated and activated the add-ons and somehow it seems to be working now, but only when the jabref window is open and I am looking at it (e.g. my mail client is not open and covers it, too).
However, there is still some smaller problem: JabRef does not properly import the date and the journal name of the articles. They appear in the main window, but not in the entry fields

[2016-07-07 08:10] SteveHod opened #29 "JabFox imports incomplete references into JabRef"
I have the JabFox plugin for Firefox, together with JabRef on my computer running Ubuntu 16.04. When I try importing a reference from PubMed some of the information (that's actually important) such as year journal and page numbers is missing. I get the title, abstract and page numbers!

Is there a way for me to select what information JabFox captures? I have previously used the Zotero plugin for F

[2016-07-07 12:38] koppor commented on #26
![grabbed_20160707-143839](https://cloud.githubusercontent.com/assets/1366654/16653336/87cc5944-4450-11e6-8512-3833b7a40045.png)

[2016-07-07 17:07] tobiasdiez commented on #28
Ok, I'm glad the add-on is more or less working for you now. The issue you mention in your first paragraph is rather strange. I suspect that it is more a problem with JabRef and not of Firefox/JabFox. Could you please file a new issue at the [JabRef repository](https://github.com/JabRef/jabref/issues)? Thanks!

Regarding the missing dates and journal names: are the completely missing or present as

[2016-07-07 17:11] tobiasdiez commented on #29
Can you please send me a link to an article for which the import is not working since I couldn't replicate the problem? For example, importing http://www.ncbi.nlm.nih.gov/pubmed/27382405 gives
[code]

[2016-07-07 18:06] #7 closed

[2016-07-08 06:40] SteveHod commented on #29
sure: [this one] (http://www.ncbi.nlm.nih.gov/pubmed/25547421?dopt=Abstract) for example gives me the authors, title, volume and pages, but not the journal (although this set in JabRef). Probably something that I have not set up properly in JabRef, but not sure what that could be.

[2016-07-08 06:47] SteveHod commented on #29
was closed in error.

[2016-07-08 08:09] tobiasdiez commented on #29
Yes it is exported in the BibLaTeX format `journaltitle =  {Psychotherapy and Psychosomatics},` and not in the old BibTeX `journal` field. Since version 1.1. of JabFox you can specify in the options that entries should be exported in BibTeX format, afterwards the journal should be present in the `journal` field.

[2016-07-08 08:11] tobiasdiez commented on #27
Closing this issue due to inactivity :zzz:
Please reopen the issue with additional information if the problem persists.

Moreover, I think this issue is a consequence of https://github.com/JabRef/jabref/issues/1554.

[2016-07-08 08:55] SteveHod commented on #29
OK. I have toggled JabRef to BiblaTeX mode and I get the journal title now.

Interestingly, whilst the BibTeX source shows the correct JournalTitle field, it also has the year written into the Date field. I can change this manually for each entry, but even where the Customize entry types (Required fields) only contains year, I still get year as date.

[2016-07-08 09:18] tobiasdiez commented on #29
Yes, in BibLaTeX mode the fields `journaltitle` and `date` are used opposed to `journal` and `year/month`. As I said above, you can change the export mode also for JabFox (Addons -> JabFox -> Options) if you want to stick to BibTeX.

As the issue seems to be fixed, I'll close it now.

[2016-07-08 09:18] #29 closed

[2016-07-10 11:35] tobiasdiez opened #30 "Support right-click on JabFox icon"
With:
- Choose different translators:
  - Import using X
  - Import using Y
- Options

[2016-07-10 12:27] tobiasdiez opened #31 "Integrate Zotero directly"
so that Zotero does not need to be installed separately.

Similar to:
https://github.com/zotero/zotero-connectors/tree/master/src

Also change license and add license file
https://github.com/zotero/zotero/blob/685954a487b289277d3acf0ad97c5e6fa45c44fa/COPYING

[2016-07-18 13:33] koppor opened #32 "Indicate whether reference is alreay in JabRef"
The JR icon should be green if the reference is already present in JabRef. If I click on the green icon, the reference is focused in JabRef.

[2016-07-18 14:04] tobiasdiez commented on #32
In principle it is a nice idea. However:
- JabRef provides no interface to query if an entry is already in the db (right?)
- In order to get the BibEntry, the Zotero translator has to parse the website which is a noticeable overhead (since it always downloads associated pdfs).
- How do you handle multiple open databases? Which db should be taken if Jabref is not open?
- What happens if an almost-d

[2016-07-18 14:04] #32 closed

[2016-08-02 18:42] indradecastro commented on #26
just for the sake of confirmation,
I found the same issue (cant find JabFox button anywhere) under:
-Ubuntu 15.10
-Firefox 47.0
-Zotero add-on 4.0.29.10 installed
-(and JabRef 3.2, just in case it helps)

I installed the JabFox add-on twice with no button appearing.
thanks for good work :)
indra

[2016-08-03 08:01] tobiasdiez commented on #26
@indradecastro The bug should be fixed in the most recent versions of JabFox. Do you still have no icon?

[2016-08-04 07:55] indradecastro commented on #26
@tobiasdiez I've totally removed and reinstalled JabFox 1.1.0 today, but the result is identical, I can't find the button. Is the add on accesible another way (without button)?

[2016-08-04 12:52] tobiasdiez commented on #26
I think I can reproduce the problem now. A fix will take some time since I'm currently on a conference/holidays. Sorry.

[2016-08-04 16:58] indradecastro commented on #26
I can wait, that's OK.
I am eager to see how marvellously the add-on works.
cheers

[2016-08-18 07:46] koppor commented on #19
Does it work making the `jar` `chmod +x`?

[2016-09-02 13:08] indradecastro commented on #26
any news?

[2016-09-14 21:27] RKBK opened #33 "UTF-8-formatted characters in references are mangled by JabFox on Mac"
Importing the following reference
http://www.sciencedirect.com/science/article/pii/S0378775314018175
with JabFox to Jabref 3.3 on Mac OS X El capitan mangles the format of the author names.

After import, the reference look like this in JabRef:

[code]

[2016-09-15 08:11] tobiasdiez commented on #33
Mhh... I just tried it on Windows with JabRef 3.5 and the umlauts are imported correctly. Could you please try if updating JabRef fixes the problem? Thanks.

[2016-09-16 20:33] jrdunson commented on #26
I too, cannot see the icon!! It is still a bug
 - jrd

[2016-09-17 18:02] RKBK commented on #33
Updating to JabRef 3.6 (latest available in homebrew) unfortunately did not fix the problem. I'm not sure if it is related to JabFox, JabRef, or even to the internal formatting in Mac OSX. I will note that formatting in Zotero (if I just save the same page to zotero) is just fine.

[2016-09-17 20:59] tobiasdiez commented on #33
Ok, lets figure out if it is a problem with the JabFox / zotero export or with JabRef. Since I have no access to a Mac, I need your assistance.
After detecting the bibliographic information on the website, JabFox exports the information to a .bib file in the temporary folder (I think this is `/tmp` on Mac OS). In there should be a file called zotero_export-X.bib (with X being a number). So for me

[2016-09-17 22:08] RKBK commented on #33
After a bunch of digging around, I found the zotero-export.bib files in
~/Library/Caches/TemporaryItems/

These are the contents (apparently with correctly encoded characters!)

[code]

[2016-09-18 07:29] tobiasdiez commented on #33
Can you also double-check that the default encoding under Preferences -> General -> Default encoding is UTF-8.

[2016-09-19 20:24] RKBK commented on #33
Changing the default encoding to UTF-8, restarting Jabref, and retrieving the reference with JabFox now maintains the correct encoding! That fixed it. Thank you!

It should have been an obvious fix, but I assumed that since the database is UTF-8-encoded, everything should be handled correctly regardless. However, I assume that JabRef uses the default encoding in the program itself when importing,

[2016-09-19 20:57] tobiasdiez commented on #33
Glad that your problem is fixed. Thanks for the feedback.

I fully agree with you that the encoding business is not as clear as it could be. I opened a new issue https://github.com/JabRef/jabref/issues/2013 to discuss this. Feel free to contribute to the discussion there.

[2016-09-19 20:57] #33 closed

[2016-10-05 15:22] qqlovekerry commented on #19
I followed this instruction and created jabref.sh on my Ubuntu 14.04LTS. I use JabRef_3.6.jar and JabFox. However, when I click JabFox, after the loading, nothing happened in JabRef. Can I post my problem below this issue?
Thanks in advance!

[2016-10-05 15:55] tobiasdiez commented on #19
Hi @qqlovekerry.
Did you also linked to the jabref.sh file in the JabFox preferences?
What happens if you close JabRef and click the icon in Firefox? Normally JabRef should start then.

[2016-10-06 02:34] qqlovekerry commented on #19
Hi @tobiasdiez,
Yes, I think I did. My JabRef_3.6.jar is located at /home/wenqiang/Desktop/JabRef_3.6.jar. I created jabref.sh at /home/wenqiang/apps/jabref.sh, and linked the path in JabFox to the bash script.
In order to give detailed information, I uploaded my screenshots.
![location](https://cloud.githubusercontent.com/assets/16799190/19138393/655a27ec-8bae-11e6-94c0-16adaecf9862.png)
![jabfox

[2016-10-06 11:35] ClemSc commented on #19
Hi. Did you check 'executable' in Jabref.sh permissions ?

Le jeudi 6 octobre 2016, qqlovekerry <notifications@github.com> a écrit :

/home/wenqiang/Desktop/JabRef_3.6.jar. I created jabref.sh at
/home/wenqiang/apps/jabref.sh, and linked the path in JabFox to the bash
script.

https://ci3.googleusercontent.com/proxy/mLt-xJIzNFO2221S54ZE4pR92_1o4V1kde3IOxk1r0bQlCQ2pq8dYbGU3anowNtO7J3oizljmNBWwqLJwo

[2016-10-06 13:55] qqlovekerry commented on #19
Hi @ClemSc,
I think I add +x to my jabref.sh, which can be seen in this picture.
![jabrefsh](https://cloud.githubusercontent.com/assets/16799190/19155027/7bff8ae4-8c0f-11e6-8508-2b87039c90ee.png)

[2016-10-06 17:31] tobiasdiez commented on #19
Mhh sorry, but I have no real idea why the script doesn't work for you.
I assume calling `JabRef.sh` opens JabRef, right? Maybe it works if you place the bash script in the same folder as the `JabRef.jar` file.

[2016-10-06 22:41] RKBK commented on #19
@qqlovekerry Did you check "Listen for remote operation on port: 6050: in the JabRef Advanced settings? I'm not sure if that's supposed to be needed, though.

[2016-10-07 01:11] qqlovekerry commented on #19
Hi @tobiasdiez, I have relocated my jabref.sh to the same folder of JabRef.jar. It seems still does not work.
Hi @RKBK, I think I have checked this option. You can see that in the following picture.
![listen](https://cloud.githubusercontent.com/assets/16799190/19175797/86b6f640-8c6c-11e6-9978-3c65e3581c43.png)
And Hi @ClemSc, I think I should ask one more question to all you guys. What if I execut

[2016-10-07 01:22] qqlovekerry commented on #19
Dear everyone @ClemSc @tobiasdiez @RKBK,
I am awfully sorry. The problem is caused by my mistake, I forget one `/` before `bin`. That should be `#!/bin/bash` instead of `#!bin/bash`. JabFox works well after I corrected my script. Really sorry for bothering all you guys.
Thanks a bunch for all your helps!

[2016-10-07 14:09] vagnum08 commented on #26
Hi, I had the same problem too. Though I managed to make the icon to appear.

Strangely when you have the following option `Always use private browsing mode` enabled on Firefox the icon is missing, the moment you disable this option and do a restart on Firefox, the icon appears on the toolbar.

Frankly, as soon as you re-enable the `Always use private browsing mode` option the icon goes missing ag

[2016-10-11 16:01] tobiasdiez commented on #26
@indradecastro @jrdunson which version of Firefox do you use? I noticed that Zotero has some problems in the recent Nightly versions (at least >= version 51). Do you have a Zotero icon but no JabFox icon?

@vagnum08 Thanks for the hint. I now enabled JabFox also in private windows (the new add-on version 1.1.1. should be available in a few days after it is reviewed by Mozilla).

[2016-10-11 16:35] indradecastro commented on #26
I use Firefox 47.0, the last stable version offered for Ubuntu.
Indeed I have Zotero icon, and use it with no issue.
But no JabFox icon, which is still a mystery for me.

Thanks @tobiasdiez  for coming back to our problem.

[2016-10-13 08:13] mlep opened #34 "No license"
I have just notice there is no license for this repository (at least, I could not find it...).

[2016-10-27 16:25] ddeepwel commented on #28
Hi, I'm also having this same problem. I can look at the zotero add-on and see that snapshot has been created there, but no Jabfox snapshot has been made. The log (from command-shift-j) gives the following:
![screen shot 2016-10-27 at 12 24 50 pm](https://cloud.githubusercontent.com/assets/8661548/19775998/73722fd0-9c40-11e6-9e88-a6d05ca485b5.png)

Any thoughts?

[2016-10-28 03:01] tobiasdiez commented on #28
Thanks @ddeepwel for the screenshot. The error message points to [Zotero's translate_firefox.js](https://github.com/zotero/zotero/blob/f0aafe4c21a19256cf6e8e5085b4a8cfd6bad342/chrome/content/zotero/xpcom/translation/translate_firefox.js#L447). So I suspect that something went wrong in Zotero's export script. I'll have a look at it, but please understand that it may take some time until a solution

[2016-10-28 16:13] ddeepwel commented on #28
Ok, no problem. I'm using Firefox 45.0

[2016-12-27 09:58] indradecastro commented on #28
I am having the same problem and Browser Console error message on Firefox 47.0 and JabRef 3.8.1.
Both when I specify the path to the local JabRef.jar or to a small bash script to load JabRef (as recommended for Linux users).
I hope @tobiasdiez finds some time to fix this. Good work!

[2016-12-27 10:18] indradecastro commented on #26
As you might infer from my message on issue #28 the issue I was experiencing with the button is now solved. Unfortunately I am facing a new one now :'(
I will keep trying as this add-on is very promising.

[2017-02-04 06:33] jdpipe commented on #31
Would be great to see this feature added :+1:

[2017-02-15 10:18] tobiasdiez commented on #30
None of the default buttons in the toolbar support right click and thus I will also not implement a context menu.

[2017-02-15 10:18] #30 closed

[2017-02-15 22:08] eeenilsson commented on #28
Same problem here, Jabref 3.8.2, JabFox 1.1.2, Linux 4.9.8-1-ARCH. Set the path to .jar both in options and by script (which does open jabref), re-installed JabFox, but problem persisted. Clicking a .bib opens JabRef.

Works like a charm on windows though, thanks!

This was the error message in Browser Control:
1. Attempt to set a forbidden header was denied: Connection
2. The character encoding o

[2017-02-21 21:32] eeenilsson commented on #28
Could be that fiefox has deprecated using port?
https://developer.mozilla.org/en-US/Add-ons/SDK/Guides/Content_Scripts/using_port

[2017-02-28 12:06] eeenilsson commented on #28
For me, this was solved by creating a script to open jabref and linking to the script instead og the .jar. This is actully already described in firefox > add-ons > jabfox > preferences. Thanks for that!

[2017-05-11 01:27] i2000s commented on #28
I got the same error with "The character encoding of the HTML document was not declared. The document will render with garbled text in some browser configurations if the document contains characters from outside the US-ASCII range. The character encoding of the page must be declared in the document or in the transfer protocol."

The add-on doesn't do anything except for telling me it searched and

[2017-05-24 00:02] RKBK commented on #28
I am also having this problem after just upgrading to ubuntu 17.04 and running Jabref-3.8.1 downloaded from the Jabref web page (the Ubuntu packaged Jabref does not open but complains of having the wrong version of Java regardless of whether I use oracle or open JDK, version 7 or version 8. The downloaded jar does work). I'm using Firefox 53.0.2. I've linked JabFox to a script to load the right Ja

[2017-05-28 12:01] hukevinxiaochen commented on #28
So here's my report below (hope it helps). Let me know if you want me to try anything different. Appreciate all the fine work.

### What I did

* Set **Path to JabRef** in JabFox Preferences to `/Users/KHU/Desktop/tools/citations/jabref.sh`
* Inside `jabref.sh` I typed in the following:

[code]

* Opened this [test page on PubMed](https://www.ncbi.nlm.nih.gov/pubmed/27687285)
* Clicked the JabRef

[2017-06-05 15:14] carbonmetrics opened #37 "Where should the JabFox entries end up in JabRef?"
After clicking on the JabRef button: "Import the following items into JabRef: "searching for bibliographic data...".

I see the item briefly appear in Zotero but nothing happens in JabRef. I have set the path to the JabRef jar. No idea how this works - where exactly is the reference added in JabRef?

[2017-06-08 19:33] juejung commented on #28
Same issue here. Used the .sh file as instructed. Version Firefox 53.0.3, Jabref-3.8.2 on Ubuntu 17.04. Here's the error message ctrl+shift+j
Use of getAttributeNode() is deprecated. Use getAttribute() instead.  product.js:4:29041
Use of getPreventDefault() is deprecated.  Use defaultPrevented instead.  product.js:3:31293
The character encoding of the HTML document was not declared. The document w

[2017-06-08 22:25] tobiasdiez commented on #28
Mhhh...I have no real idea why you guys run into this issue. The reported issue ("Character encoding..") should be harmless and also occurs in a situation where everything works as expected.
Sadly, I currently have not the resources to further investigate this problem. As soon as https://github.com/JabRef/jabref/issues/1284 is implemented on the side of JabRef, I will start to convert JabFox to th

[2017-06-09 13:34] RKBK commented on #28
I should comment that what solved this for me was to remember to make the .sh script executable. I'm sure no one else made such an obvious mistake, but I'm just saying that the log errors might not necessarily indicate the right sort of problem.

[2017-06-09 15:38] juejung commented on #28
@RKBK I did make it executable. I have two versions of the (executable) .sh file that I point JabFox to:

[code]

This opens jabref but does not start the import window.

If I already have jabref open and the tickmark on the advanced option:
Listen to remote operation port : 6050
is on, then pointing JabFox to a shell file containing:

[code]

does not seem to do anything.
As the other users have

[2017-06-10 14:57] smrtsmart opened #38 "Zotero 4.0 and JabFox don't work with Electrolysis on Firefox (Linux)"
The latest version of firefox enables [Electrolysis (e10s)](https://wiki.mozilla.org/Electrolysis) by default (I'm on Fedora 25). Unfortunately [Zotero 4.0 doesn't work with e10s](https://www.zotero.org/support/kb/multiprocess_firefox), so jabfox doesn't work as well; I have to disable e10s to continue using jabfox. [The beta version of the Zotero Connector for firefox](https://www.zotero.org/supp

[2017-06-11 08:26] tobiasdiez commented on #38
Zotero's infrastructure completely changes with 5.0 and I probably have to rewrite JabFox in order to make it work again. This may take some while, especially since Zotero's code is not yet stable. Hopefully, I can include the [Zotero site translators](https://github.com/zotero/translators) directly so that the user do not have to install Zotero standalone (or the browser connector). Refs. https:/

[2017-06-11 08:29] tobiasdiez commented on #37
Sorry for the late replay. Normally JabRef should show the import dialog after you click the JabFox icon. Which operating system do you use? Did you tried to create the `.sh` script as outlined in the readme? Maybe this issue is related to https://github.com/JabRef/JabFox/issues/28.

[2017-06-18 08:42] juejung commented on #28
@tobiasdiez @RKBK
With the latest update of Firefox (Firefox 54.0, Jabref-3.8.2, JabFox 1.1.2 on Ubuntu (Unity) 17.04), JabFox now works on my Ubuntu system. I followed the install instructions (the trick with the .sh file) and it now imports everything correctly including downloading of pdfs etc. just like under my Windows 10 system.

[2017-06-18 09:54] tobiasdiez commented on #28
Nice to hear that it is finally working for you. Thanks for the update.

[2017-07-12 10:52] carbonmetrics commented on #37
A late reply from me. I am Xubuntu 64, I tried the sh script and it did not make any difference.

[2017-07-12 11:07] tobiasdiez commented on #37
Mhhh...then I think your problem is really a duplicate of https://github.com/JabRef/JabFox/issues/28. I'm sorry for the inconvenience but right now there is nothing I can do to fix this issue.

[2017-07-12 11:07] #37 closed

[2017-07-12 13:38] carbonmetrics commented on #28
Does not work for me, and reason to switch to Zotero.

[2017-07-13 07:03] RKBK commented on #28
It still does work for me, but only if electrolysis is not enabled.

[2017-07-15 03:52] khalid-hussain commented on #26
I too have this problem.

Windows 10 64-bit
Firefox 54.0.1 (64-bit)

[2017-07-31 14:27] phillipkent opened #39 "Clarify that 'Zotero 4.0 for Firefox' is required"
Please alter the instructions to clarify that the Zotero version required is 'Zotero 4.0 for Firefox', because the default Zotero download [https://www.zotero.org/download] is version 5 which (I think) does not work with JabFox.

[2017-07-31 14:29] phillipkent opened #40 "Clarify that 'Zotero 4.0 for Firefox' is the version required"
Please alter the instructions to clarify that the Zotero version required is 'Zotero 4.0 for Firefox', because the default Zotero download [https://www.zotero.org/download] is version 5 which (I think) does not work with JabFox.

[2017-07-31 14:31] #40 closed

[2017-08-04 09:08] wgeorg commented on #26
For me (Ubuntu 16.04, Firefox 54.0) JabFox didn't work with Zotero Connector. But using Zotero 4.0 Firefox Plugin as suggested in [#39](https://github.com/JabRef/JabFox/issues/39) solved the problem for me.

[2017-08-05 00:25] khalid-hussain commented on #26
@wgeorg , Thanks for the tip. It works now.

[2017-08-05 00:26] khalid-hussain commented on #39
This helped my solve the issue as found in #26.

[2017-08-05 17:32] #39 closed

[2017-08-05 17:33] tobiasdiez commented on #39
Thanks for the notification. I completely missed that they already released Zotero 5.

[2017-08-08 16:11] AEgit commented on #38
With the new Firefox release 55.0 this issue now also seems to affect Windows users (I was actually hoping, that the transition would take a bit longer). The JabFox icon is no longer visible and it seems that I can't get the Zotero webextension working anymore - therefore JabFox is also not working anymore. Are there any workarounds or is the only way of getting JabFox working again to switch back

[2017-08-08 16:40] AEgit commented on #38
Ok, my current workaround is to use Firefox ESR 52.3.0. This way I should still get all important security updates (albeit not any of the new features) for Firefox and at the same time JabFox is still working.

[2017-10-06 17:53] basille commented on #38
Hi,

Is there any progress (or roadmap) for this issue? I understand that it can be major change, but Firefox 57 is coming fast, and the integration of JabFox in Firefox is really a must-have!

[2017-10-06 17:59] AEgit commented on #38
With the workaround of using the Extended Support Release of Firefox you can "survive" until Firefox 60 is released, which would be ~June 2018:
https://www.mozilla.org/en-US/firefox/organizations/faq/

But yes, if possible, I would also like to see JabFox ported to the new Firefox version - unfortunately I cannot help with that myself.

[2017-10-07 11:08] tobiasdiez commented on #38
@basille I'm currently porting JabFox to the new add-on framework. Its going (relatively) well and a first proof-of-concept version is already finished. Now everything has to be completed, polished and finally tested. I can't promise that everything is ready until the release of Firefox 57, but it shouldn't take much longer. You can follow the progress in the following pull requests: https://githu

[2017-10-08 00:21] basille commented on #38
This is excellent news! I don't see much feedback on the two pull requests — is there a way I can help make this happen? I am by no mean a developer, but I would be happy to test a Linux version for instance (right now, I'm a happy user of JabFox 1.1.2 and Zotero 4, but I would be willing to risk the jump). I'm using Firefox 56.0 on Debian Stable/Stretch (64 bits) if that's relevant.

[2017-10-08 04:23] tobiasdiez commented on #38
@basille Thanks a lot! Right now there is not much to test, but as soon as I need feedback I'll come back to your offer.

[2017-10-11 07:41] Beatzekatze opened #42 "JabRef greyed out on all websites"
Hi, probably its my stupidity that prevents me from finding the issue. But, well, I need help in figuring it out. I have Zotero installed (Plug in and Stand-alone), JabRef and JabFox installed and configured (the script variant). But on most websites JabRef button is greyed out. There are no related error messages in the console... Any suggestions on how to find clues what is going on there?
(I am

[2017-10-11 07:45] tobiasdiez commented on #42
Do you have installed the old [Zotero 4.0](https://download.zotero.org/extension/zotero-4.0.29.21.xpi) and not the new "Zotero connector"?

[2017-10-11 08:04] Beatzekatze commented on #42
Yes, I followed the link in the description. So its 4.0

[2017-10-18 06:46] tobiasdiez commented on #42
Ok, that sounds like there is a problem with the Zotero integration / setup of Zotero. Can you import references in Zotero directly (i.e. without using JabFox at all)? I plan to release an update to JabFox in the near future that already integrates all the necessary Zotero code and runs also in the most recent Firefox versions. This should then also solve your problem. But it will take a while unt

[2017-10-20 08:02] Beatzekatze commented on #42
Sorry for the lat reply. You right, Zotero doesn't work either. Says its outdated:

Good, I can wait (using Google Scholar Bibtex export atm.)
Thanks for the help and the work :)

[2017-10-20 08:17] #42 closed

[2017-11-02 12:16] deisi commented on #26
It is either still not visible or I installed it wrongly. I don't see the icon as well.

Firefox:  56.0 (64-bit)
Jabref: 2.10
Ubuntu: 16.04

Zotero from: https://download.zotero.org/extension/zotero-4.0.29.21.xpi
but also tried the addon from the firefox addon store.
Is the Firefox Addon enogh? I find the Instructions quite unclear. I can easily install the Zotero Firefox addon, but installing Zot

[2017-11-15 08:58] AEgit commented on #38
Just to let everyone know: The new Firefox ESR Update 52.5.0 also updates the Firefox addons. This leads to Zotero being upgraded to version 5: This prevents JabFox from working.

Fortunately, you can keep the new Firefox version and you only need to downgrade the Zotero version to 4 again. Then JabFox works again flawlessly.

[2017-11-15 12:41] wgeorg commented on #26
@deisi
as I described in my last post above the Zotero 4.0 Firefox plugin is the right one (https://download.zotero.org/extension/zotero-4.0.29.25.xpi). Disable in Firefox updating of this addon (about:addons -> click on "more" next to the zotero icon -> Set automatic updates to off) as well. Have you also set in the JabFox Addon settings the "Path to JabRef" ? If not check https://github.com/JabR

[2017-11-15 14:52] deisi commented on #26
Okay, now I have it work together with JabRef 2.10, as it is the version shipped with Ubuntu by default.

I also tried to use the current JabRef 4 version. After adjusting the path in the addon, it starts JabRef4, but nothing is added to the Database.

[2017-11-15 17:25] deisi opened #43 "Port for firefox versions >=57"
Hey
Is there any change of porting this addon to make use of webextensions, so it can be used with the new firefox?

[2017-11-15 21:20] jeslago commented on #26
For me the button suddenly disappeared yesterday.

Following @wgeorg remarks, I have managed to make the button appear. In my case, an automatic update of zotero had disabled it.

[2017-11-16 01:14] tobiasdiez commented on #43
Yes, I'm on it but it still may take a few weeks.

[2017-11-16 08:45] deisi commented on #26
And I believe it will not be compatible with Firefox 57, because its a legacy Addon. (Good I made it work yesterday...)

[2017-12-13 13:19] sagesheep opened #44 "No support for Firefox Quantum"
Not compatible with Firefox Quantum

[2017-12-13 14:22] tobiasdiez commented on #44
Yes, I'm working on it. Duplicate of https://github.com/JabRef/JabFox/issues/43.

[2017-12-13 14:22] #44 closed

[2018-01-11 03:31] buhtz commented on #43
I am still reading about WebExtensions API. I found a simple example how to communication between a firefox addon and a extern python application.

https://github.com/mdn/webextensions-examples/tree/master/native-messaging

[2018-01-18 13:32] novak82 commented on #43
Is there any progress with version that is compatible with new Firefox?

[2018-03-09 08:43] AEgit commented on #43
Just as a heads up: According to Mozilla's current release overview (https://www.mozilla.org/en-US/firefox/organizations/), ESR 60.0 will be released on May 8th 2018 and ESR 52.9.0 will only be supported until August 28th 2018. After that, only the ESR 60 release will be available/updated, which will make it impossible to use JabFox afterwards in its current state.

[2018-03-26 17:29] AEgit opened #45 "Wiley publications cannot be imported anymore"
JabFox does not seem to work anymore for Wiley publications. When trying to import an item only a new entry with the title "Error" is generated. Example:
https://onlinelibrary.wiley.com/doi/full/10.1111/afe.12283

This is probably related to the fact, that an old Zotero version needs to be used to be able to run JabFox.

[2018-03-30 17:52] tobiasdiez opened #46 "Some websites don't work"
e.g. http://www.ams.org/journals/proc/1957-008-02/S0002-9939-1957-0087040-4/home.html

[2018-03-30 18:40] tobiasdiez commented on #34
Is now licensed under AGPLv3 (due to the dependency on zotero)

[2018-03-30 18:40] #34 closed

[2018-03-31 23:10] tobiasdiez opened #48 "Support Linux and MacOS"
The new version does not yet support Linux and MacOS. The following steps have to be figured out:

- [ ] [How to register the app manifelst](https://developer.mozilla.org/en-US/Add-ons/WebExtensions/Native_messaging#App_manifest_location) `JabRef.json`. Add this to the documentation.
- [ ] On Windows, the native messaging is handled using a powershell script [JabRef.bat](https://raw.githubusercont

[2018-03-31 23:12] tobiasdiez commented on #31
This is now implemented.

[2018-03-31 23:12] #31 closed

[2018-03-31 23:16] tobiasdiez commented on #43
@deisi @buhtz @novak82 @AEgit
A "few weeks" was a bit optimistic but I finally found the time to rewrite the add-on. It might still be a bit rough around the edges. Please test out the [new version](https://addons.mozilla.org/en-US/firefox/addon/jabfox/?src=external-github) and report all issues you encounter here on github. Please note the installation instructions (we are currently working on re

[2018-03-31 23:16] #43 closed

[2018-03-31 23:21] tobiasdiez commented on #38
@basille @smrtsmart
I finally found the time to rewrite the add-on. For the moment, however, I didn't found the time to add support for Linux. Maybe some of you could step-in and provide a solution for Linux? See https://github.com/JabRef/JabFox/issues/48. No "real" coding is necessary, just writing a relatively simple bash or python script.

Closing this issue and tracking further progress concer

[2018-03-31 23:21] #38 closed

[2018-03-31 23:25] tobiasdiez commented on #26
With the rewrite of the add-on this issue should be fixed now. Note, however, that Linux and MacOS are not yet supported.

[2018-03-31 23:25] #26 closed

[2018-03-31 23:37] tobiasdiez commented on #45
I can confirm the issue (even with the new version that includes updated zotero translators). The Browser Console reports

and indeed if I follow the link I get a 404 error. Thus this seems to be problem with zotero. The discussion at https://forums.zotero.org/discussion/69819/wiley-online-library-import-problem suggests that you have to have access to the fulltext in order to successfully extract

[2018-04-01 05:27] smrtsmart commented on #38
Unfortunately I don't have time in the near future to look into this for Linux. The workaround I've been using is to use Zotero Connector + Zotero, and then drag & drop to JabRef. I can live with that until someone writes the scripts. Thanks for the effort anyway.

[2018-04-01 17:42] AEgit commented on #43
@tobiasdiez Hmm, how do I install the new version in the current Firefox version? If I follow the link to the new version using the current version of Firefox the "Add to Firefox" button is greyed out.

[2018-04-01 18:24] AEgit commented on #45
It does not work with the old Zotero version (needed for the previous JabFox version). It also gives an error with the new Zotero version, but the import still works (as Zotero provides different ways of importing articles, e.g. using "Atypon Journals").

[2018-04-03 06:43] koppor commented on #43
When I visit https://addons.mozilla.org/en-US/firefox/addon/jabfox/?src=external-github, I get the following output:

![grafik](https://user-images.githubusercontent.com/1366654/38233480-fe4b4a58-371a-11e8-8edb-c2e93f3ebfe4.png)

[2018-04-03 07:34] AEgit commented on #43
I am getting the same message.

[2018-04-03 08:08] tobiasdiez commented on #43
The version 2.0, which I uploaded over Easter was disabled by Mozilla since there were some security concerns (essentially, the way I invoke the Zotero code wasn't "secure"). I now rewrote parts of the code and have a version that should pass these checks.

I'll wait with the new release until https://github.com/JabRef/jabref/pull/3246 is merged so that the installation is easier. I was a bit on t

[2018-04-03 08:19] #46 closed

[2018-04-03 08:37] tobiasdiez commented on #45
Ok, in this case there is nothing I can do and would ask you to report the issue at https://github.com/zotero/translators/issues. Maybe as part of the related (?) issue https://github.com/zotero/translators/issues/1608.

[2018-04-03 08:37] #45 closed

[2018-04-03 08:43] AEgit commented on #45
Done: https://github.com/zotero/translators/issues/1608#issuecomment-378174213

Thank you for pointing this out. Let's hope that the Zotero team will quickly fix things :D

[2018-04-04 09:10] denis-f commented on #43
Dear all,

First many thanks to TobiasDiez, my dream of using firefox and jabref
and have the web functionnality provided by zotero is almost there !

When I click the jabref button, I get the following error in a pop-up
window :

"File not found

Firefox can’t find the file at
moz-extension://29672442-ee30-407e-9fa6-894fddf5266f/itemSelector/itemSelector.html#[1,{"71VnrfeZEtYJ"ZOTEROCOLON"Alterna

[2018-04-04 14:05] tobiasdiez commented on #43
@denis-f @AEgit Thanks for your feedback.

1. Yes, you need to activate the "Remote operation" in the "Advanced" preference tab in JabRef.
2. Importing does indeed take some time. For me it is about a few seconds. By now, you should know our development philosophy: first make it work and afterwards improve performance 😄
3. I can confirm the problem with the `itemSelector` when multiple references

[2018-04-04 18:57] tobiasdiez opened #49 "Import for many items does not work"
Importing many items, e.g. from https://arxiv.org/list/astro-ph/new, fails with the following error:
[code]

Reason: Windows limits the command line length (to approx. 8000 characters).
Only solution (that I see): Write bibtex to file and then import the file instead of the string. Yeahhhhh!

[2018-04-04 19:10] tobiasdiez commented on #43
@denis-f I just published version 2.1.1 which fixes the import for many reference items. At least if the number of items is not that high #49.

[2018-04-07 13:47] AEgit commented on #43
Cheers, now it does work. If the import only takes a few seconds, then the issue I encounter is probably related to the virtual machine, because here I wait sometimes for 1 min just to import a single item.

Thank you very much for your work!

[2018-04-09 16:04] juejung opened #50 "Jabfox 2.1.1 not finding Jabref 4.2-dev (native Messaging version) on Windows 7"
Expected behavior:
[1] Jabfox button appears in address bar when citation info is available on a specific website.
[2] Pressing the button should extract the bibliographic info, download the pdf and
[3] open Jabref and the import dialog of Jabref (or open the import window of Jabref if Jabref is already open and 'Listen for remote operation on port: 6050' is checked in Preferences/Advanced)

Actua

[2018-04-09 20:06] tobiasdiez commented on #50
Thanks for your detailed report.

According to the [firefox documentation](https://developer.mozilla.org/en-US/Add-ons/WebExtensions/Native_messaging) this message occurs when something went wrong during the setup and one should:
- check that the registry key is in the correct place, and that its name matches the name in the app manifest.
- check that the path given in the registry key points to t

[2018-04-09 20:29] juejung commented on #50
Yup, the key is there:
[code]

and the JabRef json file is also there and contains:
[code]

[2018-04-09 20:46] tobiasdiez commented on #50
This looks a bit strange. There should be a folder `org.jabref.jabref` with key `Default` and only the path as value. See screenshot.
![image](https://user-images.githubusercontent.com/5037600/38522071-c39aa4ee-3c47-11e8-81b5-5605ae1ae9f7.png)

[2018-04-09 21:47] juejung commented on #50
Mmmh. Maybe the issue is with powershell? I added the registry info you mention above by hand. Now I get the following error:

[code]

[2018-04-09 22:06] tobiasdiez commented on #50
Ok, so there was really something off with the registry setup. The powershell error is a different issue. Apparently it is now registered correctly. Hopefully this should fix it: https://stackoverflow.com/a/29778651/873661

[2018-04-14 18:16] CFGrote commented on #43
Not working for me: firefox 59.0.2, JabRef-4.2-dev--snapshot--2018-04-03--nativeMessaging--2c47830bb.jar.
When clicking the jabref symbol in firefox while on some article's web page, I see first "Searching for bibliographic data...", then "Convert to bibtex", then "Send to JabRef", where it stays forever. No new import in JabRef,  no matter if jabref running or not.
In the Extension Manager, Conne

[2018-04-14 23:43] tobiasdiez commented on #43
@CFGrote Can you please activate the "Browser Console" (Ctrl + Shift + J) and report any errors logged there.
Moreover, did you used the installer to install JabRef or did you follow the installation steps outlined under "manual installation" in the readme?

[2018-04-15 07:30] CFGrote commented on #43
I'm on ubuntu 16.04. Simply downloaded the jabref .jar and execute java -jar jabref.jar (the latter being a link to the downloaded jar).

[2018-04-15 07:31] CFGrote commented on #43
Here's the log:
JabFox: Found translators  Array [ Object, Object, Object, Object ]  for tab  Object { id: 19, index: 2, windowId: 3, highlighted: true, active: true, pinned: false, status: "complete", hidden: false, discarded: false, incognito: false, 11 more… }  background.js:107:5
JabFox: Popup opened  progressPanel.js:10:2
Messaging: Received message: undefined, undefined  messaging.js:53:3
Ja

[2018-04-18 11:11] tobiasdiez commented on #50
Do you get an error message under "Connection Status" in the add-on option page? Could you please attach a screenshot of the browser console after you tried to import something into JabRef.

The error you posted above normally is triggered by a https request and thus should be independent of the native messaging used to communicate with JabRef.

[2018-04-20 05:47] zuphilip commented on #45
Fixed with https://github.com/zotero/translators/pull/1624/files.

[2018-04-21 20:30] Codeberg-AsGithubAlternative-buhtz opened #51 "Should inform about missing JabRef or wrong version of existing JabRef"
Suprisingly JabFox 2.1.1 showed up in the adressbar of my Firefox 59.0.2 on Debian unstable. Nice.

There are no errows while clicking on it. But the data never arrive at JabRef - because only JabRef 3.8 is installed on my system. I know that the new JabFox only works with JabRef 4.x.

If there is a way... JabFox should check if the export was successfull and inform the user if not.

[2018-04-22 16:57] AEgit commented on #45
Thank you - I guess this patch still needs to make it into the master build (?).

[2018-04-22 18:33] AEgit commented on #45
Nevermind, Zotero has now been updated. See: https://github.com/zotero/translators/issues/1608#issuecomment-383400303

Thank you very much!

[2018-04-26 14:39] juejung commented on #50
I uninstalled Jabref and Firefox and cleaned the registry. I then re-installed Firefox, Jabref and then Jabfox in Firefox. I used the newest Jabref 4.2 release 64 bit version from April 26, 2018, Firefox 59.0.2 and Windows 7. The registry entries look now as your screenshot.

As a test, I try to import this paper (https://papers.ssrn.com/sol3/papers.cfm?abstract_id=304487) from SSRN into Jabref as

[2018-04-26 14:42] juejung commented on #50
Hitting the Jabfox button, I get the long output at the end of this post. However, the Jabref import window  does not pop up unfortunately and the import does not happen. After about 2 to 3 minutes of not touching the browser I get one line:

[code]

Hitting the Jabfox button produces this long output.

[code]

[2018-06-02 18:09] MCTews commented on #50
I think I have the same problem.

Browser Console after hitting jabref button:
`
          JabFox: Popup opened  progressPanel.js:10:2
Messaging: Received message: undefined, undefined  messaging.js:53:3
JabFox: Popup opened confirmed  background.js:121:3
TypeError: messageName is undefined at moz-extension://b7993b6e-8253-450c-a7dc-2d7b06395046/Zotero/messaging.js:63  zotero.js:284:4
JabFox: Star

[2018-06-02 20:08] tobiasdiez commented on #50
Thanks to both of you for the detailed log messages. However, there is nothing in them that points to a connection error (or a reason thereof). It successfully extracts the bibtex code (see end of log) and then silently fails to send it to JabRef. Thus, I fear, there is nothing I can do fix it unless I also happen to hit this bug.

You might want to double check that the installation/setup is corr

[2018-06-04 08:35] MCTews commented on #50
Double checked:
![regedit_jabfox](https://user-images.githubusercontent.com/8901053/40906803-3b0062c4-67e2-11e8-9fc5-34a4c74bccfb.PNG)
Meanwhile, I used the extracted bibtex from the browser console. :-)

[2018-06-05 09:41] Kinxkinx opened #52 "Add check for java version"
When I try to import a citation, there is a message "send to jabref..." that least but nothing is imported, and no jabref wndows is opened. I have this message in the console :

Unchecked lastError value: Error: Could not establish connection. Receiving end does not exist.  background.js:12819

[2018-06-05 17:36] tobiasdiez commented on #52
This sounds similar to https://github.com/JabRef/JabFox/issues/50. Did you double-check that the the setup is correct according to the steps outlined in the readme?

[2018-06-06 07:07] Kinxkinx commented on #52
Yes, double-check... There is also a message in the add-on options : connection status : Testing connection.

[2018-06-06 07:13] Kinxkinx commented on #52
The messages during import-fail :

JabFox: Popup opened  progressPanel.js:10:2
Messaging: Received message: undefined, undefined  messaging.js:53:3
JabFox: Popup opened confirmed  background.js:121:3
TypeError: messageName is undefined at moz-extension://49e8813a-15d3-4691-84ba-c98b842e0f45/Zotero/messaging.js:63  zotero.js:284:4
JabFox: Start translation for tab  Object { id: 7, index: 4, windowI

[2018-06-06 10:50] tobiasdiez commented on #52
Thanks for the details! However, in the log everything looks fine and there is no message that points to a problem (or even gives a hint about what fails). Firefox is not able to connect to JabRef but also does not say where the problem lies. Sorry, but given these sparse information, there is nothing I can do right now.

[2018-06-08 13:21] qwitwa opened #53 "Broken links in readme and issues"
The links to the .json, .bat, and .ps1 files currently 404.

[2018-06-08 15:44] #53 closed

[2018-06-08 15:45] tobiasdiez commented on #53
Thanks for the report. Should be fixed now.

[2018-06-08 21:34] juejung commented on #50
@tobiasdiez
Just updated to Firefox 60.0.2 and JabRef 4.3.1. Still on Windows 7.
I also commented out the @echo off line in the JabRef.bat file. The importing still does not work but I get the following additional errors in the Firefox browser console. Maybe it's helpful in finding this bug?

[code]

[2018-06-12 16:32] tobiasdiez commented on #50
Thanks @juejung for not stopping to investigate the problem. It appears that Windows 7 comes with a different powershell version which does not run the script. We can try to modify the script but it is probably easier if you update to [Powershell 5](https://www.microsoft.com/en-us/download/details.aspx?id=54616). Hopefully this works.

[2018-06-12 16:52] MCTews commented on #50
That (Updating Windows Management Framework to Version 5.1)  fixed it for me!
Thanks @tobiasdiez

[2018-06-12 17:11] juejung commented on #50
@tobiasdiez Cool that explains it. Yes, on my system I have Powershell version 2. However, I don't have full admin rights on my office computer so updating the Windows Management Framework is probably not an option for me. I'll check with my admin though. Thanks.

[2018-06-12 20:40] tobiasdiez commented on #50
@MCTews Yeah! Thanks for the feedback.
@juejung As I'm currently a bit short on time, I would prefer if you could find a solution with your admin. If not, I'll have a look and try to rewrite the powershell script.

[2018-06-12 20:42] tobiasdiez commented on #52
@Kinxkinx do you use Windows 7 or 8? In this case, upgrading [Powershell to version 5](https://www.microsoft.com/en-us/download/details.aspx?id=54616) may work.

[2018-06-13 09:15] Kinxkinx commented on #52
Windows 7. I have upgraded Powershell. Problem solved ! (many thanks)

[2018-12-21 18:57] davidcbenson opened #55 "Jabfox only recognizes bibliographic information if the tab and window are active"
TBH, I am unsure if this is an issue or a configuration problem, but I have tried as much troubleshooting as I can, and have been unable to tell, so I am reporting it here.

When opening any reference I expect to cite, in most cases the Jabfox Icon works just fine. If I navigate away for any reason (open another tab, open the citation in a separate tab, pause my music) when I come back I will be u

[2019-01-14 20:01] Pratched opened #56 "JabFox: Error connecting to JabRef: <unavailable>"
hey there I have a similar problem to #50.

Using Win10 Firefox 64.2 (64Bit) with Jabfox and JabRef 4.3 I receive the stated error when hitting the provided JabFox-Button in Firefox.

[code]
I have double-checked the reg-entry and the FF-addon-page says "Communication to JabRef successfull".
PowerShell Version 5.1
JabRef-"remote operation" is checked.

Any ideas?

[2019-01-22 11:08] tobiasdiez commented on #56
This error points to a problem with the registry setup. Can you please check that the registry looks as described in https://github.com/JabRef/JabFox/issues/50#issuecomment-379888605

[2019-01-23 11:04] henrymartin1 opened #57 "Jabfox doesn't work"
Hi,
I have the issue, that the Jabfox button is not appearing and that I can't connect it to my Jabref. Is this an issue with the Firefox version? If so, which one is currently supported?

System Information:
Windows 10 (64bit)
Firefox 64.0.2
Jabref 4.3.1

Here is the relevant registry entry:

![image](https://user-images.githubusercontent.com/31069329/51601968-125f2180-1f06-11e9-8254-d75d819d4450

[2019-01-25 20:38] Pratched commented on #56
Yes I checked and it does. The path points to the only `JabRef.json` I could find.

![grafik](https://user-images.githubusercontent.com/19487828/51771496-742bb100-20e9-11e9-96a4-a175e248b7ec.png)

[2019-02-12 01:34] Kbudidha commented on #52
I have this exact same issue. However, am using windows 10. Also, the connection status shows successfully connected to jabref. Nothing is being imported to jabref.

[2019-03-14 17:07] rolandog opened #58 "ReferenceError on particular site"
Hi.

I'm getting a ReferenceError in the log when I visit `https://decide.sanpedro.gob.mx/`:

<details><summary>Error message:</summary>

[code]
</details>

<details><summary>JabRef version:</summary>

[code]
</details>

<details><summary>JabFox version:</summary>

[code]
</details>

<details><summary>FireFox version:</summary>

[code]
</details>

<details><summary>Windows version:</summary>

[cod

[2019-03-25 22:54] actlee opened #59 "windows 10, JabFox does not work"
Hi, :)

I've installed FireFox for using JabFox.
I am currently using Windows 10 64bit, JabFox seems not to work for me.
If I access to a journal website (for example, IEEE Xplore), I can see the icon of JabRef.
After clicking the icon, it shows the message below, nothing is being imported in JabRef.
![image](https://user-images.githubusercontent.com/28807151/54959368-21d80680-4f59-11e9-81e1-a3971

[2019-04-01 00:22] dimitriSchreiber commented on #59
I have not checked the debug messages, however I am having the same error.

[2019-04-05 14:09] Siedlerchr opened #60 "Create entry from found dois in text"
Today I was on a library PC with Citaviy Picker installed and noticed that after a disvovered DOI it added a symbol to automatically pick the doi to create a reference.

Something like this would be cool as well

![grafik](https://user-images.githubusercontent.com/320228/55633639-1ee0df80-57bd-11e9-8226-e47c84d72deb.png)

[2019-05-06 11:39] thedarkhunter commented on #59
I had the same issue. I have noticed that the powershell does not find the "java" command.
FIX: install Java https://www.java.com/en/download/

Best,
Davide

[2019-05-06 11:41] thedarkhunter commented on #52
I had the same issue and fixed installing Java.
https://github.com/JabRef/JabFox/issues/59

[2019-05-10 20:41] letterlee commented on #59
I've updated to the latest java, but it still does not work.

[2019-05-13 11:54] jpmaterial commented on #52
I had the same issue and fixed it by adding C:\Program Files\Common Files\i4j_jres\1.8.0_172\bin to the PATH (and restarting Firefox).

[2019-05-13 19:42] tobiasdiez commented on #52
Since there are many reports about a missing or misconfigured java installation, I think we should add a check that java is installed correctly.

[2019-06-03 15:06] lohae commented on #26
Hi,
I experience the same problem using Firefox 67//Win10/JabRef4.3.1.

There is just no button showing up. Any ideas?

[2019-06-03 15:23] davidcbenson commented on #26
I have [opened a similar issue](https://github.com/JabRef/JabFox/issues/55), although perhaps not the same, and find there is a workaround. The problem is navigating away from the relevant window *and tab*. If I 1) reload the window, or 2) enter and leave reading mode, the button appears, in both cases staying on on the window and tab until fully loaded, the tab appears.

There may be two differen

[2019-06-17 15:39] alegnacamargo commented on #48
Recently, you Tobias Diez answer me "JabFox does not yet support Linux..." https://addons.mozilla.org/en-US/firefox/addon/jabfox/reviews/1368060/

I would like to know if I follow the steps described here (https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/Native_messaging#App_manifest_location), I can make JabFox works on mi Mac.

Thanks for your answer.

[2019-07-22 09:32] amcbedli opened #61 "Jabfox not available for Firefox 68.0"
I've just installed Jabref on my Ubuntu 18.04 computer and wanted to get the Firefox extension, but when I got on the page, it tells me that this extension is not available on my platform. I'm using Firefox 68.0. Is there an update planed or what should I do? Thank you!

![Capture du 2019-07-22 11-30-40](https://user-images.githubusercontent.com/43377895/61622056-598b5c80-ac74-11e9-8277-409bc488d6

[2019-07-22 11:10] tobiasdiez commented on #61
The problem is not Firefox 68 but that JabFox currently does not run on Linux, see https://github.com/JabRef/JabFox/issues/48

[2019-07-22 11:10] #61 closed

[2019-08-23 12:55] jamboo2017 commented on #26
I have the same issue. JabFox button is never shown on my firefox. I have tried to reinstall the add-on several times.
Firefox v68.0.2 64-bit
The connection status shows "Communcation to JabRef successful!"

[2019-08-25 09:51] christian-unoxx opened #62 "JabFox 2.1.1 not working on Firefox Quantum 68.0.1 (Windows)"
The JabFox button is greyed out. Is there an issue with JabFox and Firefox Quantum on Windows? Please help me.

![JabFox greyed out](https://user-images.githubusercontent.com/21095693/63648321-da9cae80-c760-11e9-8d4c-17491a6a7c16.png)

[2019-08-25 11:34] tobiasdiez commented on #62
The url works for me. Is your problem specific to this article or does it happens for every publication? Is there an error displayed in the option panel of the JabFox plugin?

[2019-08-26 01:25] christian-unoxx commented on #62
This problem happens for every publication. No, there are no errors
displayed in the option panel.

On Sun, Aug 25, 2019 at 7:34 PM Tobias Diez <notifications@github.com>
wrote:

--

*Christian Cahig*
Iligan Institute of Technology <https://www.msuiit.edu.ph/>
LinkedIn <https://www.linkedin.com/in/christiancahig/>

[2019-10-10 15:02] tobiasdiez commented on #52
As JabRef 5.0 comes with its own java embedded, there is no need to have this anymore.

[2019-10-10 15:02] #52 closed

[2019-10-19 16:12] JaredClayborn commented on #14
I'd like to take this if you're still interested

[2019-10-19 16:27] tobiasdiez commented on #14
Sure! That would be a great addition to get more users.

[2019-10-20 11:57] tobiasdiez opened #73 "Add proper integration tests and deployment"
- Create tests: https://developer.mozilla.org/en-US/docs/Mozilla/QA/Mozmill_tests/Addon_tests

- Deployment:
   - https://alosarjos.gitlab.io/alosarblog/post/continuous-integration-for-a-firefox-extension/
   - probably depends on https://github.com/mozilla/web-ext/issues/804

[2019-10-23 08:39] AEgit commented on #62
JabRef 5.0.0-dev--2019-10-21----0f0dce621
Windows 10 10.0 amd64
Java 12.0.2

JabFox 2.1.2
Firefox 70.0 (64-bit)

I have seen this behaviour once, so this might be the way to reproduce it:

1. Reboot your system
2. Do NOT open JabRef
3. Open Firefox and navigate to the following website: https://ieeexplore.ieee.org/document/368400
4. The JabFox icon is greyed out and it is impossible to import the

[2019-10-23 08:43] AEgit commented on #59
Just a guess, but is JabFox supposed to work with your JabRef version (4.3.1)?

I am running the current developer version and JabFox is doing what it is supposed to do:

JabRef 5.0.0-dev--2019-10-21----0f0dce621
Windows 10 10.0 amd64
Java 12.0.2

If you switch to the developer version (https://builds.jabref.org/master/), create a backup of your database first, since there are still quite a few bu

[2019-10-23 08:47] AEgit commented on #57
JabRef 5.0.0-dev--2019-10-21----0f0dce621
Windows 10 10.0 amd64
Java 12.0.2

JabFox 2.1.2
Firefox 70.0

Cannot confirm. JabFox works as expected for me.

[2019-10-23 08:49] AEgit commented on #56
JabRef 5.0.0-dev--2019-10-21----0f0dce621
Windows 10 10.0 amd64
Java 12.0.2

JabFox 2.1.2
Firefox 70.0 (64-bit)

Cannot confirm. JabFox works as expected for me.

[2019-10-25 09:20] Krzmbrzl opened #75 "postMessage on disconnected port"
I just installed JabFox and I have installed JabRef via jabref_5.0.0-1_amd64.deb from https://builds.jabref.org/master/.

However I don't see any additional menu or something like this in Firefox (v70.0 (64-bit)) and when I look into the JabFox preferences, it says
[code]
for the connection status.

[2019-10-25 12:04] letterlee commented on #59
It is written from MarkDown description that **at least** JabRef 4.2 is required.
Then shouldn't this work with JabRef 4.3.1?

I'll try to use the developer version again because I've already tried it a long time ago but it didn't seem to work at the time.

[2019-10-25 12:58] AEgit commented on #59
@tobiasdiez : Is the current version of JabFox supposed to work with version 4.3.1? Or does it require the current developer version?

[2019-10-25 15:58] tobiasdiez commented on #59
In principle, it should work with 4.3.1 but from my experience it is more stable with 5.0 (dev).

[2019-10-25 16:06] tobiasdiez commented on #75
Could you please make sure that `/usr/lib/mozilla/native-messaging-hosts/` contains `jabref.json` and that this file points to the correct installation folder. Thanks!

[2019-10-25 17:15] Krzmbrzl commented on #75
It look like this:
[code]
and `/opt/jabref/lib/jabrefHost.py` does indeed exist. However only root can access it. Could that be the problem?

[2019-10-26 03:47] arshadkazmi42 opened #76 "Broken link in README"
Link to jabref.json in Mac-OS installation steps is broken.

Wrong URL:  https://github.com/JabRef/jabref/blob/master/buildres/jabref.json

Correct URL: https://github.com/JabRef/jabref/blob/master/buildres/windows/jabref.json

[2019-10-26 03:47] arshadkazmi42 commented on #76
I am working on it

[2019-10-27 09:08] tobiasdiez commented on #75
Can you try and give yourself (i.e the local user) access rights to `/opt/jabref/lib/`. Alternatively, it might work if you run firefox with admin rights. @LyzardKing do you have an idea what went wrong? The same problems appears also on mac: https://github.com/JabRef/JabFox/pull/77

[2019-10-27 09:11] LyzardKing commented on #75
The user shouldn't have access to it, so that shouldn't be the problem here..
It's installed in /opt by sudo, so it should be owned by root.
I'll try and install and see what's happening.

[2019-10-27 09:30] LyzardKing commented on #75
Changing the permissions is not the right thing to do. It would also break a multi user system.
But I'm not sure what the issue is...It's not working, but it's nothing I changed..
The path is correct, and it should still work.
It's very strange.

[2019-10-27 11:51] tobiasdiez commented on #75
Is the python script still marked executable?

[2019-10-27 12:04] Krzmbrzl commented on #75
It appears as if Firefox is very stubborn and won't start with admin rights. Tried a few tricks but still I am unable to start firefox with root privileges.

Okay I seem to have figured out what the problem is: I can get JabFox to work, if I grant execution privileges for `other` to `jabrefHost.py`. Not the before the execution flag wasn't set at all (or maybe it got removed during me messing arou

[2019-10-27 15:50] LyzardKing commented on #75
@tobiasdiez The python script is not set as executable.
That's the solution needed.
I don't know where the regression happened..

[2019-10-27 15:57] LyzardKing commented on #75
Testing now to see if it's enough to chmod in the source for both the deb and the snap.
Once I confirm I'll upload a PR

[2019-10-27 17:31] #75 closed

[2019-10-27 19:18] LyzardKing commented on #75
@Krzmbrzl  Does the latest build fix the issue?

[2019-10-27 19:39] Krzmbrzl commented on #75
I set the permissions manually and it's working now. Didn't try the new build... But if the changed permissions are now included I'd say it should work just fine.

[2019-11-02 11:19] Krzmbrzl opened #82 "Supporting Information"
Don't know about other fields of research, but at least in chemistry it is very typical to have supporting information (sometimes also called supplementary information) which is one or more separate PDF files that contain e.g. experimental details, spectra, etc.

It would be neat if JabFox could get the links to those alongside with the link to the fulltext.

For an example see: https://pubs.acs.o

[2019-11-03 22:00] LyzardKing commented on #73
The testing should probably be written with marionette, or directly in the web-ext environment, sincr mozmill is deprecated.
This tool can be used to automatically upload to firefox/chrome/opera stores (once the chrome extension works ;) )
https://github.com/LinusU/wext-shipit

[2019-11-05 14:42] ericrbg commented on #76
This is also true for the Windows custom installation.

[2019-11-13 08:13] jorgman1 opened #88 "Error with manifest in Linux"
When trying to use the extension, I get the following error:

"This extension does not have permission to use native manifest /usr/lib/mozilla/native-messaging-hosts/org.jabref.jabref.json"

I'm using Firefox 70.0.1, and Jabref 5.0.

The file is readable and executable by all.

[2019-11-13 08:37] LyzardKing commented on #88
There might be a mismatch between the id in the extension and the manifest..
@tobiasdiez Did you update the firefox extension?
The extension downloadable from mozilla still has id `@jabfox`
but the id in jabref is the new one..
For the meantime @jorgman1 you can change the id in the json file to `@jabfox`, but you will then need to revert back to the value it shows now.

[2019-11-13 13:41] diabl0w commented on #75
I am getting really confused and frustrated.... I installed https://aur.archlinux.org/packages/jabref-latest/ and then installed this addon through Mozilla's addon website... is this not the proper way to do it? I have the same message as OP, but the json file does not exist at all rather than just having the wrong permissions

[2019-11-13 14:34] diabl0w opened #89 "[Linux] Must change json in order to work"
Currently on linux, we must change the "allowed-extensions" line in the json file from native-messaging-hosts from "browserextension@jabref.org" to "@jabfox"

[2019-11-13 14:43] diabl0w opened #90 "Common websites dont work"
Common websites like NCBI's pubmed (example: https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3762248/) and ScienceDirect (https://www.sciencedirect.com/science/article/abs/pii/S1040842803002750?via%3Dihub) are not detected by jabfox and the option to import is grayed out.

These are very fundamental websites... zotero detects them fine

[2019-11-13 18:01] diabl0w commented on #90
also pdf's opened in browser do not have an import option either... example: https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3123451/pdf/nihms288491.pdf

[2019-11-13 18:19] diabl0w opened #91 "Stuck on Searching for Bibliographic Data, Errors saying to update code"
URL tested: https://www.ahajournals.org/doi/full/10.1161/atvbaha.110.221101

Console Debug:

`JabFox: Popup opened progressPanel.js:10:10
Messaging: Received message: undefined, undefined messaging.js:53:11
JabFox: Popup opened confirmed background.js:121:11
TypeError: messageName is undefined at moz-extension://8aa0ebb4-5345-42a5-a923-853ee8a31e7c/Zotero/messaging.js:63 zotero.js:284:12
JabFox: S

[2019-11-13 18:43] diabl0w commented on #91
to save you some time, the first "require is not defined" error that we get, which is in line 133 of http.js, that line is `let url = require('url')`

[2019-11-13 18:57] diabl0w commented on #91
so, i believe that "require is not defined errors" are caused by the "Zotero.HTTP.processDocuments()" error which I believe is caused by lines 256-267 of utilities_translate.js which gives 3 arguments to processDocuments

this is all just me guessing, to try and help and get this solved quicker, as i am not a programmer

[2019-11-13 19:09] tobiasdiez commented on #89
I cannot publish the update of the add-on that contains the rename to the Firefox store as this would require people to upgrade to JabRef 5 (which is not yet released).

@LyzardKing I think we need revert the rename (in the json file) until 5.0 is almost ready to be released. What do you think?

[2019-11-13 19:22] LyzardKing commented on #89
Or add more than one in the JSON...I think it's supported...we should be able to easily test it
That way we can enable both the dev and the stable versions...

[2019-11-13 19:58] diabl0w commented on #90
Site: https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3123451/

Log:

JabFox: Searching for translators for
Object { id: 1, index: 0, windowId: 1, highlighted: true, active: true, attention: false, pinned: false, status: "loading", hidden: false, discarded: false, … }
background.js:68:10
ReferenceError: TLDS is not defined proxy.js:626:11
Messaging: Received message: Prefs.getAll,
Messaging: Received

[2019-11-13 20:36] tobiasdiez commented on #89
Oh, that's a great idea! Do you have time to test it? I'm currently on travel and busy until next week...

[2019-11-13 22:13] diabl0w opened #92 "Stuck on Searching for Bibliographic Data, Different Error"
Another very basic and common website

URL: https://sci-hub.se/https%3A%2F%2Fwww.ncbi.nlm.nih.gov%2Fpmc%2Farticles%2FPMC3123451%2F

Log:

uncaught exception: Object 15
JabFox: Searching for translators for
Object { id: 19, index: 7, windowId: 1, highlighted: true, active: true, attention: false, pinned: false, status: "loading", hidden: false, discarded: false, … }
background.js:68:10
(3)(+0052201

[2019-11-13 23:08] tobiasdiez commented on #89
Thanks to @LyzardKing this should be fixed now (if you use the latest dev version). Thanks for the report!

[2019-11-13 23:08] #89 closed

[2019-11-13 23:09] tobiasdiez commented on #88
Thanks to @LyzardKing this should be fixed now (if you use the latest dev version). Thanks for the report!

[2019-11-13 23:09] #88 closed

[2019-11-13 23:29] tobiasdiez commented on #92
Thanks for reporting these issues. Linux support is still pretty new (about one or two weeks) and thus somewhat experimental.

[2019-11-13 23:38] LyzardKing commented on #90
The SienceDirect link works on my end with the latest jabref and the firefox extension..
What error do you see if you load that page?

[2019-11-13 23:48] diabl0w commented on #90
you are correct, it does work... I am not sure why I got that one confused

[2019-11-13 23:49] diabl0w commented on #92
I am new to this repo, so thanks for the heads up. Thanks for supporting Linux!

[2019-11-15 20:57] jorgman1 opened #93 "Broken links in README"
Links pointing to files for manual installation are broken. (E.g. https://github.com/JabRef/jabref/blob/master/buildres/jabref.json)

[2019-11-15 21:19] jorgman1 opened #94 "Windows: No such native application org.jabref.jabref"
I get the following error with the latest JabRef-build (2019-11-15) in Windows (win-7x64)

`No such native application org.jabref.jabref
    startupPromise resource://gre/modules/NativeMessaging.jsm:114`

[2019-11-15 21:23] LyzardKing commented on #93
This is the correct link:
https://github.com/JabRef/jabref/blob/master/buildres/windows/jabref.json

[2019-11-15 21:46] jorgman1 commented on #93
Thank you

[2019-11-17 20:10] tobiasdiez commented on #94
This should be fixed in the latest development version. Could you please check the build from http://builds.jabref.org/master/. Thanks! Please remember to make a backup of your library before trying-out this version.

[2019-11-19 12:45] jorgman1 commented on #94
Sorry for the delay. I had some troubles with the new .msi file. It works fine now!

[2019-11-19 12:45] #94 closed

[2019-11-20 08:36] jorgman1 commented on #93
Duplicate on #76

[2019-11-20 08:36] #93 closed

[2019-11-20 08:43] jorgman1 opened #99 "Stuck on "Send to JabRef""
I get the following error.
Firefox: 70.0.1
Extension: 2.1.2 (Last updated 2019-11-19)
JabRef: 5.0.0 (2019-11-19)
OS: Linux Mint 18.1

[2019-11-20 11:06] tobiasdiez commented on #99
@LyzardKing can you have a look at this please. Seems to be related to your recent changes.

[2019-11-20 11:56] LyzardKing commented on #99
I can't replicate, but the issue might be that Linux Mint uses an older version of Python3 that doesn't have support for fstrings..
If that's the case we might need to revert that change.
I'll look into it today and determine if that is the issue

[2019-11-20 11:58] LyzardKing commented on #99
It is a release from 2016-12-16, so that might in fact be the issue

[2019-11-20 12:26] LyzardKing commented on #99
@jorgman1 I uploaded a branch with a possible fix.
You can test it from https://builds.jabref.org/removeFstring/

[2019-11-20 18:16] jorgman1 commented on #99
@LyzardKing: I get the following error now:
(I'm using Python 3.5.2)

[2019-11-20 21:39] LyzardKing commented on #99
This seems to be an issue with the logging module..not with jabref..
https://bugs.python.org/issue27493
I pushed a new commit..as soon as it builds and uploads you can try again and see if it fixes the problems.

[2019-11-21 08:14] jorgman1 commented on #99
Works like a charm now! Thank you!
What did you change?

[2019-11-21 09:05] LyzardKing commented on #99
As noted in the linked url, the versions of the logging module available
in python3.5 and previous only work with a string as a parameter, not a pathlib object.
So I converted the pathlib object to a string in the logging setup :)
Thank you for testing it!
Now the PR on the main repo can be merged

[2019-11-21 11:54] #99 closed

[2019-11-21 18:01] tobiasdiez commented on #51
This is now implemented in the latest development version (which will be published with the release of JabRef 5.0). Sadly, firefox does not directly provide the error details but only logs it. Thus I had to refer the user to the browser console.

[2019-11-21 18:01] #51 closed

[2019-11-21 19:24] #55 closed

[2019-11-21 19:25] tobiasdiez commented on #55
This should be fixed in the new version that will be released simultaneously to JabRef 5.0.

[2019-11-21 19:26] tobiasdiez commented on #56
This should be fixed with the new version that will be released simultaneously with JabRef 5.0.

[2019-11-21 19:26] #56 closed

[2019-11-21 19:26] tobiasdiez commented on #57
This should be fixed with the new version that will be released simultaneously with JabRef 5.0.

[2019-11-21 19:26] #57 closed

[2019-11-22 14:39] tobiasdiez opened #100 ""Take Snapshot" preference does not work"
Snapshots are always taken. Should default to false.

[2019-11-25 23:21] keiichiiownsu12 opened #102 "Broken Link on README: Linux and org.jabref.jabref.json"
Hello,
The current README link for the Linux org.jabref.jabref.json file is broken. [https://raw.githubusercontent.com/JabRef/jabref/master/buildres/linux/org.jabref.jabref.json](url)

Please update this to either:
[https://raw.githubusercontent.com/JabRef/jabref/master/buildres/linux/native-messaging-host/firefox/org.jabref.jabref.json](url)

or

[https://raw.githubusercontent.com/JabRef/jabref/m

[2019-11-26 10:09] #102 closed

[2019-11-26 21:16] keiichiiownsu12 opened #104 "(Feature Request) Central place for users to report journal site compatibility?"
Hello,

Somewhat of a feature request. I noticed the plugin works well for some journal sites (e.g. Elsevier/Science Direct) but not for others (e.g. Springerlink or lesser-known journals).

I was curious if there is or if there could be a dedicated thread, wiki page, or markdown doc where users can report on compatibility for specific journal websites? Could potentially be very informative for bo

[2019-11-26 22:47] tobiasdiez commented on #104
If a website does not work, then it is probably a bug in the code of this extension, and hence should be reported as a separate bug report (with the error message that you get in the browser extension).

In case the parsing works in principle but has some shortcomings, then it should be reported at https://github.com/zotero/translators.

[2019-11-26 22:47] #104 closed

[2019-12-09 12:10] grahamperrin opened #107 "Not proceeding beyond "Send to JabRef…" – JabRef 4.3.1, FreeBSD"
I get this far:

![image](https://user-images.githubusercontent.com/192271/70434202-7c7ba900-1a7b-11ea-9873-115fde7d631a.png)

– but a click on **Send to JabRef…** seems to have no effect; the pop-up remains on screen.

[code]

– consistent with the 4.3.1 that's currently seen at <https://www.fosshub.com/JabRef.html>.

https://www.freshports.org/print/jabref/

I see #99 (closed) and <https://githu

[2019-12-09 20:37] tobiasdiez commented on #107
Are there any errors shown in the Browser Console?

And yes, Linux support is in general more stable with the latest dev version https://builds.jabref.org/master/

[2019-12-10 19:03] grahamperrin commented on #107
Firefox 71.0:

`No such native application org.jabref.jabref` `NativeMessaging.jsm:112`

`    startupPromise resource://gre/modules/NativeMessaging.jsm:112`

[2019-12-10 22:00] tobiasdiez commented on #107
Ok, this says that Firefox is not able to find JabRef, which means that the `org.jabref.jabref.json` file is not in the correct location. Did you followed the instructions under https://github.com/JabRef/JabRef-Browser-Extension#linux ?

[2019-12-11 15:46] diabl0w commented on #92
I think this issue can now be closed, as its working now... can anyone else confirm?

[2019-12-11 19:24] tobiasdiez commented on #92
Thanks for the feedback. If the issue should reappear, feel free to open this issue again!

[2019-12-11 19:24] #92 closed

[2019-12-15 22:51] tobiasdiez commented on #90
A few more examples:
https://aip.scitation.org/doi/10.1063/1.4896698
https://link.springer.com/book/10.1007/978-3-642-31558-9
https://link.springer.com/article/10.1007%2Fs11005-017-1018-z#Bib1
https://www.worldscientific.com/doi/abs/10.1142/S0129055X19500168

[2019-12-17 12:20] tobiasdiez commented on #90
Google Scholar and Google books also does not work...

[2019-12-17 12:21] tobiasdiez opened #109 "Intercept the “Import to Bibtex” on Google Scholar"
Reported by Ben Hamilton:

[2019-12-17 17:08] LyzardKing commented on #90
@tobiasdiez I just tested now and both google scholar and google books work for me
with the latest jabref beta and jabfox installed in firefox
The other links don't work, and the error they report is:
`ReferenceError: require is not defined at moz-extension://9227f5a0-a84d-4c86-a6e5-67c027d8b8fa/Zotero/http.js:233`
It's strange, because from the zotero import jabfox should have inherited their req

[2019-12-17 17:14] LyzardKing commented on #90
granted..in scholar it imports from the search method, not exactly a useful feature..

[2019-12-17 20:59] PorcelainMouse opened #110 "Communication Error & Missing Icon (Linux Alpha RPM, FF)"
I'm super excited about this extension.  Thanks!

I have read through many open and closed bug reports and I'm still pretty confused.  Seems like it is supposed to be working, but I'm not sure.  I still have problems that other people have reported and are already closed.

1. In Firefox, in the JabFox preferences, I see "Error: Attempt to postMessage on disconnected port"
1. I cannot find the JabF

[2019-12-17 21:43] tobiasdiez commented on #110
Can you please verify that `org.jabref.jabref.json` is in the correct folder as described here: https://github.com/JabRef/JabRef-Browser-Extension#linux

Furthermore, do you get any error messages in the Browser Console (Ctrl + Shift + J) ?

[2019-12-17 23:16] PorcelainMouse commented on #110
Ah, okay, no I did'nt follow that extra bit about org.jabref.jabref.json.  Let me try...

In the meantime, I don't see any obviously related errors, just this:
`[Exception... "Component returned failure code: 0x80004005 (NS_ERROR_FAILURE) [nsIDOMWindowUtils.removeSheetUsingURIString]"  nsresult: "0x80004005 (NS_ERROR_FAILURE)"  location: "JS frame :: resource://gre/modules/ExtensionCommon.jsm :: r

[2019-12-17 23:26] PorcelainMouse commented on #110
Okay, I have the .jason file in my personal .mozilla/native-messaging-hosts/ directory, but no joy.

I now see many errors in the browser console, but still none that are obviously related to jabref.

[2019-12-17 23:29] PorcelainMouse commented on #110
If check "show content messages" I see many references to JabFox, but none are errors.

[2019-12-18 01:41] PorcelainMouse commented on #110
Oops, I forgot to have JabRef running for the last few tests.  Yes, I'm getting a connection now!  Just no icon.  The connection problem just have been the incomplete manual part of the Linux installation.  It's a little hard to see when that text is collapsed and I assumed that "if you didn't use .deb" you meant .deb or .rpm.  In any case, thanks & sorry for opening a new issue.

Ah, okay, now I

[2019-12-18 01:41] #110 closed

[2019-12-18 02:18] PorcelainMouse opened #111 "Does Not Communicate with JabRef, New Instance Started (Linux,FF)"
When I click on the JabFox icon, a new instance of JabRef is started, which complains about backup files for .bib files that were open.  I'm assuming this is incorrect behavior.  JabFox Add-On shows communication with JabRef is successful, prior.

jabref-5.0.30001-1.x86_64
FF 70

[2019-12-18 12:21] tobiasdiez commented on #110
@LyzardKing could you maybe have a look why the rpm installation does not work as supposed (appearently)?

[2019-12-18 12:23] tobiasdiez commented on #111
This sounds like a bug of JabRef itself. Usually it should only show this warning if you didn't properly closed the last instance. Maybe this was a result of your previous testing?

If you can reproduce it, then please report it at https://github.com/JabRef/jabref (this rep here is for browser-addon-specific issues).

[2019-12-18 12:23] #111 closed

[2019-12-18 12:45] LyzardKing commented on #111
@tobiasdiez This is the same issue that I have.
In the previous issue that I opened on the jabref repo the new instance would open a blank tab,
with your commits noted on that issue the new window opens the correct tab (with the proper .bib file).
The backup warning is opened because there is another instance open

[2019-12-18 12:48] LyzardKing commented on #110
@PorcelainMouse
What was the original issue? Was the json file not created with the proper contents?

[2019-12-18 15:23] tobiasdiez commented on #111
Ah ok... I'll try to have a look after Christmas!

[2019-12-18 21:57] PorcelainMouse commented on #110
I'm pretty sure I fixed the problem by installing .json file in my private .mozilla/  directory.  The RPM did not put a copy in /usr/lib/mozilla, though I don't know if it is supposed to do that.

[2020-01-02 18:18] PorcelainMouse commented on #90
Hmm, now this *was* working for me before I checked the box in JabRef to communicate over port 6050; I think just about any web-page would allow me to click the JabFox icon.  Now, many journal article web-pages don't allow import.  Confusing.  Here are some more examples.

 https://doi.org/10.1063/PT.3.4389 (and all other Physics Today articles)
 https://doi-org/10.1088/0143-0807/28/3/E01 (and all

[2020-01-08 13:27] fandan6o commented on #59
I have the same issue.
Using the same configuration as OP, except for JabRef 5 (dev snapshot; didn't work with current stable either though) and JabFox 2.1.2.

Console is not very active though, see screenshot:
![image](https://user-images.githubusercontent.com/59652855/71981521-dad6ab80-3222-11ea-9f95-ed188086e949.png)

[2020-01-19 20:12] systemoperator opened #120 "When a list of references is shown, open dialogue with a list of the entries and checkboxes to select specific ones to import"
If you e.g. load one of the following web pages

- https://ieeexplore.ieee.org/search/searchresult.jsp?newsearch=true&queryText=moocs
- https://scholar.google.at/scholar?hl=en&as_sdt=0%2C5&q=moocs&btnG=

then the Zotero translators show a dialogue which allows selecting specific entries to import. It would be great, if this worked for JabFox as well.

[2020-01-21 01:05] systemoperator opened #122 "Urldate is set to "CURRENT\_TIMESTAMP" or is set inconsistent for websites"
When importing a 'common' website like [https://github.com/JabRef/JabRef-Browser-Extension/issues](url) (or for example news sites) the resulting reference entry in JabRef gets the value "CURRENT\\_TIMESTAMP" in the entry field "Urldate".

For e.g. Wikipedia entries, this does not happen. Creating a reference for [https://en.wikipedia.org/wiki/Onychopterella](url) results in "2020-01-21TZ". Is the

[2020-01-21 01:16] systemoperator opened #123 "Entries with value "null" get imported"
When creating a reference of e.g. [https://ieeexplore.ieee.org/document/8482125](url), the resulting reference entry in JabRef contains among others `null` values (all unrelevant entries have been omitted):

[code]

[2020-01-21 15:12] systemoperator opened #124 "JabFox icon is not shown or vanishes in address bar if link gets opened in new tab in background"
When I browse a website and I trigger opening a contained link in a new tab in the background and I simply wait until the newly opend tab is fully loaded (not switching to the new tab yet), then in the current tab the JabFox icon in the address bar vanishes and when switching to the newly opened (fully loaded) tab, no JabFox icon is shown in the address bar either.

In order to again show the JabF

[2020-01-29 03:26] joelostblom opened #128 "Download and rename PDFs automatically"
This is a feature request to add an option for downloading PDFs automatically when downloading a reference via jabfox. Currently the URL to the PDF is added to the general tab, and to download the file one has to go into jabref and click manually. The same goes for renaming PDFs according to defined patterns. It would be convenient if these actions were triggered by jabfox when sending the bibliog

[2020-01-29 10:04] joelostblom commented on #128
I just noticed that this is being tracked here https://github.com/JabRef/jabref/issues/5662. A check box in the import dialog sounds like a great solution!

[2020-01-29 11:34] joelostblom opened #129 "JabFox not activated on the following DOI"
When navigating to this site https://doi.org/10.1634/stemcells.2008-0183, jabfox remains inactive in the address bar and cannot be used to retrieve bibliographic information from the site. The DOI works as expected for adding bib info from within JabRef.

[2020-01-29 12:24] joelostblom commented on #129
These DOIs also don't trigger JabFox:
- https://doi.org/10.1016/j.actpsy.2011.08.005
- https://doi.org/10.1167/8.16.13

FWIW these do all work in the zotero connector extension so there seems not to be something inherently wrong with the webpages.

I'm on Firefox 72.0.2

[2020-01-29 12:26] joelostblom commented on #129
Related (same?) issue https://github.com/JabRef/JabRef-Browser-Extension/issues/90

[2020-01-29 12:31] #128 closed

[2020-01-29 12:31] LyzardKing commented on #129
There might be something else to import from the zotero src.
The error is: :` TLDS is not defined at moz-extension://96145178-9e47-4639-85eb-a5495cdf8d84/Zotero/messaging_inject.js:76`

[2020-02-11 10:41] bernhard-kleine opened #133 "Jabfox not always importing."
JabRef 5.0-beta.409--2020-02-09--6a9c915
Windows 10 10.0 amd64
Java 13.0.2
- [+] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

I have found at least two entries which can not be imported into Jabref by Jabfox:
 https://doi.org/10.1038/s41586-019-1168-5 and https://journals.physiology.org/doi/abs/10.1152/ajpendo.00121.2019
Steps to repr

[2020-02-13 14:58] Siedlerchr commented on #133
Moved the issue to the Browser Extension repo.

[2020-02-23 16:09] kastork opened #136 "FF 73, Catalina - Error: Attempt to postMessage on disconnected port"
Hello,

After installing JabRef 4.3.1 using the installer, I then installed the JabRef addon from the Firefox Addons manager.

In the Addon preferences, the Connection Status is

`Error: Attempt to postMessage on disconnected port`

I've double checked that the Advanced option for `Listen for remote operation on port` is checked, and I left the default port value untouched (6050)

The JabRef icon

[2020-02-24 14:01] LyzardKing commented on #136
The addon works best with the latest 5.x releases of jabref...
Could you verify that with that version it works?
Also, to debug it you can open the devtools console before clicking on the jabref icon in firefox
to see the error message

[2020-03-02 16:40] bernhard-kleine commented on #90
I had an issue with this site: 10.1210/endocr/bqaa002. While other papers from the same issue could be imported via Jabfox directly, I had to use zotero for this one. Upon reloading the page, I got the Jabfox symbol. Maybe you understand this?

[2020-03-02 18:09] systemoperator commented on #90
Could be related to #124.

[2020-03-09 13:38] tobiasdiez opened #142 "Add to more application stores"
- [x] Edge: done https://microsoftedge.microsoft.com/addons/detail/pgkajmkfgbehiomipedjhoddkejohfna
- [ ] Safari: https://developer.apple.com/app-store-connect/ This is https://github.com/JabRef/JabRef-Browser-Extension/issues/227
- [ ] Opera: https://addons.opera.com/developer/upload/

[2020-03-09 20:20] tobiasdiez commented on #133
This should be fixed now and the fix will be included in the next release.

[2020-03-09 22:28] bernhard-kleine commented on #133
Thanks a lot: DOI 10.1126/science.aap8328  which has not been imported via Jabfox this afternoon, now imports properly. Good work!

[2020-03-09 23:04] #129 closed

[2020-03-09 23:04] tobiasdiez commented on #129
This should be fixed in the next release.

[2020-03-11 15:03] IstvanZachar commented on #136
I get the same error under: JabFox 2.1.2, Firefox 74.0, JabRef 5.0, Windows 7 Pro, 64 bit. The DevTools console error is as follows when I turn JabFox on and it cannot establish a connection:

    ExtensionError: No such native application org.jabref.jabref ExtensionUtils.jsm:56:5
    Unchecked lastError value: Error: Could not establish connection. Receiving end does not exist. background.js:63

[2020-03-13 23:31] ms43 opened #148 "Importing multiple references fails: itemSelector.html not found"
Importing multiple references from publication databases or search engines like Google Scholar fails. The JabRef plugin stucks at "Searching for bibliographic data..." and a popup shows up with a "FILE NOT FOUND" error. It seems that the following file is missing:
`chrome-extension://bifehkofibaamoeaopjglfkddgkijdlh/itemSelector/itemSelector.html`

Tested URL: https://scholar.google.com/scholar?hl

[2020-03-14 00:19] systemoperator opened #149 "ACM Library not working"
Zotero has updated their code for fetching citation information from the newly redesigned ACM Library (https://dl.acm.org) in January (https://github.com/zotero/translators/issues/1811). Since the current code base of Zotero has been merged into the JabRef-Browser-Extension recently, I would have expected that the new ACM Library is supported now, but it does not work.

Exemplary reference: https:

[2020-03-14 15:14] #149 closed

[2020-03-14 15:14] tobiasdiez commented on #149
This should be fixed in the next release.

[2020-03-14 15:38] tobiasdiez commented on #120
The strategy is to send all entries to JabRef and then the user can select the relevant entries in JabRef's import selection dialog.

[2020-03-14 15:38] #120 closed

[2020-03-14 15:41] tobiasdiez commented on #58
This site seems to be unavailable, so I cannot test but the "TLDS" error should be fixed in the next release.

[2020-03-14 15:41] #58 closed

[2020-03-14 15:50] tobiasdiez commented on #90
This should be fixed in the next release.

[2020-03-14 15:51] tobiasdiez commented on #91
This should be fixed in the next release.

[2020-03-14 15:51] #91 closed

[2020-03-14 15:52] bernhard-kleine commented on #90
the lastest master is from 12.03.2020. Do we have to wait?

[2020-03-14 16:48] #124 closed

[2020-03-14 16:48] tobiasdiez commented on #124
This should be fixed in the next release.

[2020-03-14 17:07] #122 closed

[2020-03-14 17:07] tobiasdiez commented on #122
This should be fixed in the next release.

[2020-03-14 17:11] tobiasdiez commented on #90
The releases of the browser extension are independent of the JabRef releases. I'll push a new update to the firefox/chrome store this evening. Should then be automatically installed in a few days.

[2020-03-14 17:40] diabl0w commented on #90
thanks for your continued support on this project!

[2020-03-14 17:55] #100 closed

[2020-03-14 18:58] bernhard-kleine commented on #90
I appreciate the JabFox-Add-on very much. I actually like it. It smoothens the process of citation collection quite well. My working with literature citations started with "Lochkarten" and via biblio by Verlag Chemie, Endnote, Pybliographer I arrived at Jabref which is now most comfortable. JabFox is the crown to it.

[2020-03-14 19:27] tobiasdiez commented on #90
Thanks for the kind words! I'm happy to help you guys having fun with your literature ;-).

The new version (2.2) is uploaded and already accepted. Thus the installed extension should automatically update.

[2020-03-16 17:16] bernhard-kleine commented on #133
With the new version (2.2), DOI: 10.1126/science.aav8573 is not imported.

[2020-03-16 17:52] bernhard-kleine commented on #133
DOI: 10.1126/science.aav2501 was also not imported.

[2020-03-16 17:52] tobiasdiez commented on #133
Can reproduce this problem. Error:

[2020-03-16 18:10] bernhard-kleine commented on #133
I could, however, import all the citations with Zotero.

[2020-03-16 18:18] LyzardKing commented on #133
I just tried https://doi.org/10.1126/science.aav2501 and it works on my system.
I'm using the latest snap on ubuntu and the latest extension

[2020-03-16 19:02] bernhard-kleine commented on #133
I updated to the last master and still no import: JabRef 5.1--2020-03-12--23034ce.

[2020-03-18 11:38] tobiasdiez opened #153 "url not defined @proxy"
Error

when importing e.g. https://www.osapublishing.org/optica/abstract.cfm?uri=optica-6-5-686

[2020-03-18 11:47] LyzardKing commented on #153
I cannot reproduce.
In Firefox I can import this citation succesfully

[2020-03-18 12:36] tobiasdiez commented on #153
Thanks for testing. I guess it comes from the fact that I'm behind a proxy right now (to gain access to journals from home).

[2020-03-21 17:17] bernhard-kleine commented on #133
I just found anotherone not importing: 10.1016/j.neuron.2019.10.006

[2020-03-25 11:20] jorgman1 opened #156 "Select library during import"
Would it be possible to select the library into which the entry is imported?

I often have several libraries open at the same time, and I have to switch to the desired library before importing (something that I often forget).

[2020-03-28 23:13] funnym0nk3y commented on #133
For me this issue is not consistent with time. Usually I have issues with articles from [](https://aip.scitation.org), but a fresh start usually solves it.

[2020-04-04 08:42] mj-ramirez opened #158 "Error while sending to JabRef: TypeError: data is undefined"
TypeError: data is undefined at moz-extension://29a9afa2-0573-4141-8928-14bab21b3198/Zotero/translate_item.js:134 zotero.js:335:12

JabRef: Got task to convert
Array [ {…} ]
  to BibTeX bibtexConverter.js:234:11
JabRef: Convert items to BibTeX:
Array [ {…} ]
bibtexConverter.js:2:10

OSX High Sierra
Firefox 74.0
Jabref 5.0 (Remote 6050 on)

[2020-04-04 12:03] M4lF3s commented on #158
Experiencing the same behavior on Linux:
Firefox 74.0
OpenSUSE Tumbleweed
JabRef 5.0

With the Developer Edition of Firefox (version 75.0b12) it is working though.

[2020-04-06 13:04] mj-ramirez commented on #158
I have tried Developer Edition of Firefox (version 75.0b12) on OSX High Sierra: no luck! Same error message.

[2020-04-06 19:42] tobiasdiez commented on #158
Do you have this with every item upon import or only on specific websites?

[2020-04-07 18:46] mj-ramirez commented on #158
it affects all items, regardless of website.
The "Bibit Now!" extension works (not sure if that helps)

MJR

On 6 Apr 2020, at 20:43, Tobias Diez <notifications@github.com<mailto:notifications@github.com>> wrote:

Do you have this with every item upon import or only on specific websites?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<http

[2020-04-10 21:18] borgch commented on #158
The same error on Archlinux (for example, on page https://arxiv.org/abs/1409.8086)

In addon settings:
Attempt to postMessage on disconnected port

In web console:
TypeError: data is undefined at moz-extension://c1e886ab-a241-4b09-9a50-72089de2e3fa/Zotero/translate_item.js:134 zotero.js:335:12
JabRef: Got task to convert
Array [ {…} ]
  to BibTeX bibtexConverter.js:234:11
JabRef: Convert items to

[2020-04-19 19:41] Cutuchiqueno commented on #158
Here the same on Arch Linux:

Versions:
Firefox 75.0
JabRef 5.0
JabRef Browser Extension: version from 19 April 2020

[2020-04-20 13:13] ba-tno opened #164 "Broken link to Firefox plugin on jabref.org"
On [jabref.org](https://www.jabref.org/) there's a link pointing to the old Firefox extension. It's in the `Features` section:

It refers to JabFox with the link
[code]

while it should probably refer to JabRef Browser Extension at

[code]

[2020-04-20 13:45] tobiasdiez commented on #164
Thanks! Should be fixed now.

[2020-04-21 19:07] yzgol opened #165 "No data imported : send to jabref works, but open a new tab without data"
Firefox 75.0 / Ubuntu 19.10 / Jabref 5.0 via snap.

The Jabref extension seems to work : it says that it's been sent to jabref, and it has actually open a new tab in jabref. But no data inside.

I don't see any problem related to jabref on the browser console.
In fact, I don't know much about it, there's a few error messages, but no new error appears when I use the jabref extension.

![Capture de

[2020-04-21 20:40] LyzardKing commented on #165
It's actually related to an issue discussed in the gitter instance with @Siedlerchr
In the terminal you can see the following issue:
[code]

[2020-04-26 14:39] yzgol commented on #165
Thanks for the anwser !
I don't know how to do it via the terminal, can you tell me ? jabref --importBibtex <url> ?
And if you have the link to the discussion at hand, I'd like to have a look. I'm sorry I didn't found it.

[2020-04-28 13:37] yzgol opened #168 "Issue with lyxpipe (snap)"
Firefox 75.0 / Ubuntu 19.10 / Jabref 5.0 via snap.

When I try :
echo "LYXCMD:<anything>:citation-insert:<citation key>" >> .lyxpipe.in
It works
(as told here: https://sourceforge.net/p/jabref/bugs/740/
Or more exactly, here : https://bugs.launchpad.net/ubuntu/+source/kile/+bug/324722)

But, when I try to configure Jabref to use : ~/.lyx/lyxpipe
It doesn't work (although this file does exist).

I

[2020-04-28 13:39] yzgol commented on #168
I'm sorry… wrong  place. It does not concern the jabref extension.

[2020-04-28 13:39] #168 closed

[2020-05-01 10:15] bernhard-kleine opened #169 "Importing does not work (via Jabfox or using CTRL-I )"
JabRef 5.1--2020-04-30--862078a
Windows 10 10.0 amd64
Java 14.0.1

- [+] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

I tried to import https://doi.org/10.1152/ajpendo.00397.2019 via Jabfox. When this not work I exported the entry via zotero and used Crtl-I. Both times the Import-dialogue opened but never showed the entry. Only a jabr

[2020-05-01 12:14] bernhard-kleine commented on #169
An what about importing the entry with Ctrl-I. There, Jabfox is not involved.
The not imported bibtex entry is:

`@article{matsuo_rankl_2020,
	title = {{RANKL} induces beige adipocyte differentiation in preadipocytes},
	issn = {0193-1849},
	url = {https://journals.physiology.org/doi/abs/10.1152/ajpendo.00397.2019},
	doi = {10.1152/ajpendo.00397.2019},
	abstract = {The receptor activator of nuclear

[2020-05-01 16:17] tobiasdiez commented on #169
For me it is working, both directly using JabFox and also manually using `JabRef.bat -importBibtex "<the above bibtex>"`. Strange...

[2020-05-01 16:39] bernhard-kleine commented on #169
I checked again and it gets stuck in the import window. Using Crtl-I I was able to import. Strange indeed!

[2020-05-02 20:48] Haini commented on #158
Same on Ubuntu 18.04 LTS:

[code]

Versions:
Self Compiled Jabref from commit `18ac7940298e411dee33d66d0b43dcf211c3f4ca (HEAD -> feature/downloadFilesOnImport, origin/feature/downloadFilesOnImport)` (Jabref says v100.0)
Firefox 75.0
JabRef Browser Extension: 2.2 (released March 17)
Chrome Version 81.0.4044.122 (Official Build) (64-bit)
JabRef Browser Extension: 2.1.2

The same setup works on an Ub

[2020-05-03 11:43] Haini commented on #158
And I think I found the issue (for me, at least) and it's not a bug of JabRef for me.

**tl;dr for Firefox**
`cd ~/.mozilla/native-messaging-hosts/`
`wget https://raw.githubusercontent.com/JabRef/jabref/master/buildres/linux/native-messaging-host/firefox/org.jabref.jabref.json`
`mkdir /opt/jabref`
`chown USER /opt/jabref` (optional)
`cd /opt/jabref`
`cp CLONEDJABREF/build/image/* . -r`
`cp CLONEDJ

[2020-05-04 16:01] AEgit commented on #169
JabRef 5.1--2020-05-04--b5599c9
Windows 10 10.0 amd64
Java 14.0.1

I can reproduce the issue with JabFox (have not tried <key>Ctrl+I</key>).

[2020-05-08 17:11] bernhard-kleine commented on #169
The failure to import via the control-I is definitely not related to Jabfox. Therefore, the issue should go back to Jabref. It is not at all related to Jabfox. This is very troublesome. It renders Jabref for me not working, since I check regularly a lot of table of contents from diverse scientific journals. Those articles worth reading are imported to Jabref. This situation is untenable when impor

[2020-05-08 17:21] AEgit commented on #169
Have you tried Bib it Now! as a workaround?
https://addons.mozilla.org/en-GB/firefox/addon/bibitnow/

It does not solve the problem, but it might help you in the meantime.

[2020-05-08 18:06] #165 closed

[2020-05-08 18:06] Siedlerchr commented on #165
Thanks to @LyzardKing  this should be fixed now in the edge? version of the snap soon

[2020-05-09 17:21] tobiasdiez commented on #169
This is indeed a problem with the import handler of JabRef, as the issue also appears when importing from the command line.

[2020-05-10 11:13] tobiasdiez opened #170 "Better error message when not installed correctly"
Should display an error message with details if there are problems with the setup / communication to JabRef.

[2020-05-11 21:11] Socob opened #171 "Differences between browser extension and JabRef web search for arXiv import"
I’m seeing some differences when importing entries on arXiv using the browser extension compared to using the web search within JabRef itself. Using the following URL for example: https://arxiv.org/abs/1909.04667

The browser extension gives me

[code]

While using the JabRef arXiv web search results in

[code]

Is there any way to make this consistent? In particular, the browser extension is miss

[2020-05-12 07:51] tobiasdiez commented on #171
The browser extension uses the information printed on the page, while JabRef uses the official arXiv API. You can report the issue with the missing eprint fields at https://github.com/zotero/translators. Moreover, JabRef has a cleanup action that should extract the information from the `note` field and puts it in the eprint fields.

[2020-05-12 07:51] #171 closed

[2020-05-12 14:22] Socob opened #172 "Extension preferences seem to have no effect"
When going to the extension preferences (e. g. in Firefox), there are two settings “Export Format” and “Automatically take snapshots”.

![Screenshot from 2020-05-12 16-16-26](https://user-images.githubusercontent.com/1915511/81702874-249eff00-946c-11ea-95d7-9a25ad5cbd7f.png)

However, neither of these actually seem to do anything. Perhaps they should be removed or their function explained in a bit

[2020-05-12 14:54] tobiasdiez commented on #172
Thanks for your report. This should be fixed with https://github.com/JabRef/JabRef-Browser-Extension/pull/131. @systemoperator would you be willing to extract the relevant changes to a new PR (independent of the websocket & citation numbers) which could be merged quickly? Would be nice!

[2020-05-12 19:11] systemoperator commented on #172
@tobiasdiez I could simply deactivate the websocket server and hide the setting for enabling fetching the citation counts, then everything else will look and work as usual and the aforementioned issues and other issues will be gone. Later on, we could enable the deactivated features as well. Would that be ok?

[2020-05-12 19:27] tobiasdiez commented on #172
Yes, that would be good solution I think! We could also enable the citation fetcher, since this is already working (only without the update from JabRef's side), right? If you find the time, it would be nice if you could also finish the other PR at JabRef, so that we could let other users also enjoy the nice citation fetch feature.

[2020-05-12 19:36] systemoperator commented on #172
Yes, the current PR is also usable without its counterpart with the websocket server in JabRef, allowing sending citation data with the corresponding citation count. In that case, we could prevent starting the websocket client, so that there are no connection errors.

[2020-05-12 19:42] systemoperator commented on #172
Actually, the PR on JabRef's side is fully operational and tested steadily and thoroughly, but there are still some changes requested, where some of them seem quite time-consuming or where I am not fully sure how to adapt it. These two reasons and my current time constraint are my primary obstacles.

[2020-05-12 21:08] tobiasdiez commented on #172
Ok, good. Could you then please https://github.com/JabRef/JabRef-Browser-Extension/pull/131 change accordingly and I'll merge it. Thanks!

I do understand that everybody is contributing in their freetime and that improving existing code is not as much fun as implementing a cool new feature from scratch. On the other hand, code architecture is very important to ensure maintainability in the future

[2020-05-13 10:42] systemoperator commented on #172
Thanks, #131 can be merged. :)

[2020-05-25 14:21] Haini opened #175 "Enable import functionality for any content on all websites"
Current state: Can't import any PDF / Website into my references, because we are only considering pages that possibly contain reference data (?).
![image](https://user-images.githubusercontent.com/5941765/82820867-47390b00-9ea3-11ea-8668-ac26da50a6a6.png)

Desired state: We should be able to import any PDF / Website, even if there is no metadata available. The user can then edit the fields for the

[2020-05-25 17:14] tobiasdiez commented on #175
So, just push the URL to JabRef without any other metadata?

[2020-05-25 17:46] Haini commented on #175
Exactly this behavior would be great.

Any reason why we shouldn't have this behavior?

[2020-05-25 21:17] tobiasdiez commented on #175
I think this would indeed be a valuable addition! Please feel free to dive deeper! Here are a few pointers:
- https://github.com/JabRef/JabRef-Browser-Extension/blob/734296660dadc4dbe99b4b4d5b17d7dad7eabb32/background.js#L72 needs to be replaced by something like https://github.com/JabRef/JabRef-Browser-Extension/blob/734296660dadc4dbe99b4b4d5b17d7dad7eabb32/background.js#L101-L105 in order to sho

[2020-05-27 11:48] Haini commented on #175
tl;dr: I played around, a proof of concept works but there is a LOT of work to do for a proper and sound solution as other functionality breaks too. Also, currently only tested for Firefox.

---

Hi and sorry for the late answer. I played around with this a little bit, and of course it doesn't just work out of the box.
The following problems seem to arise:
- Firefox does not allow listeners in PDF

[2020-05-28 11:51] tobiasdiez commented on #175
Thanks for investigating! This looks already pretty promising. I suggest you open a new PR and we continue the discussion there.

Just a quick suggestion after reading a bit about the limitations content scripts for pdfs in Firefox: what about circumventing the whole translation business and construct the relevant bibtex code by hand? If a PDF is shown, then there is no metadata anyway to extract

[2020-05-28 12:05] Haini commented on #175
Thanks for the feedback, I will do so as soon as I have time :)

Wrt to your proposal: while manually constructing an object I also thought about this and I see no reason why we shouldn't just implement it that way! I just wanted to keep it a little bit more general (and I was trying to understand how the messaging system and your listeners work, so I had to experiment a little bit anyways).

I wi

[2020-06-04 14:47] FilipeMaia opened #177 "Stuck on Send to JabRef with MacOS"
I'm on MacOS 10.13.5 with JabRef 5.0 and Chrome 81.0.4044.138.
I've installed the extension from https://chrome.google.com/webstore/detail/jabref-browser-extension/bifehkofibaamoeaopjglfkddgkijdlh/
When using it, e.g. on https://www.nature.com/articles/s41598-020-65225-4 it gets stuck on `Send to JabRef...`
Looking into the developer console I see:
`TypeError: Cannot read property 'items' of null

[2020-06-05 15:09] tobiasdiez commented on #177
I think currently there is a problem with the setup on MacOS.

As a workaround, you can follow the guidelines for the manual install: https://docs.jabref.org/collect/jabref-browser-extension#mac-os using this file:
https://github.com/JabRef/jabref/pull/6442/files#diff-d99aa77716bf8252215c6e3a02faf611
and replace the Firefox-specific parts by the paths outlined here: https://developer.chrome.com/ap

[2020-06-05 21:03] tobiasdiez opened #178 "Parsing fails with xhr exception"
for example on https://arxiv.org/abs/math/0101159

[2020-06-05 21:37] LyzardKing commented on #177
Not having a mac to test this on does not simplify things...
@FilipeMaia Do you install from the .dmg or .pkg files?
There might be a difference in the way macos exposes the path variable.
https://github.com/JabRef/jabref/pull/6442 is a different issue, but this might help with that as well

[2020-06-05 21:46] LyzardKing commented on #178
It works for me with the latest snap edge (5.1.564) and the firefox extension...

[2020-06-05 21:51] FilipeMaia commented on #177
From .pkg.
Any more information I can give to help with debugging?

[2020-06-05 22:16] LyzardKing commented on #177
Is there any file in  /Library/Google/Chrome/NativeMessagingHosts?

[2020-06-05 22:17] LyzardKing commented on #177
specifically org.jabref.jabref.json

[2020-06-06 08:03] FilipeMaia commented on #177
No there isn't. Neither in `~/Library/Application Support/Google/Chrome/NativeMessagingHosts`

[2020-06-06 08:06] FilipeMaia commented on #177
The installation [instructions](https://docs.jabref.org/collect/jabref-browser-extension) mention `~/Library/Application Support/Mozilla/NativeMessagingHosts/`. Is that correct?

[2020-06-06 08:09] FilipeMaia commented on #177
I also noticed that [org.jabref.jabref.json](https://raw.githubusercontent.com/JabRef/jabref/master/buildres/linux/native-messaging-host/firefox/org.jabref.jabref.json) from the instructions page links to the Linux section of the tree and mentions a `/opt/jabref/lib/jabrefHost.py` which is not there nor could I find it anywhere.

[2020-06-06 08:47] FilipeMaia commented on #177
@tobiasdiez I tried to follow your suggestion but nothing really changed.

[2020-06-06 11:20] tobiasdiez commented on #177
Can you try to create the `/opt/jabref/lib/jabrefHost.py` file by downloading https://github.com/JabRef/jabref/blob/master/buildres/linux/jabrefHost.py.
Moreover, put https://github.com/JabRef/jabref/blob/1a546922787160ed447d3a6f63f068916e17e225/buildres/mac/native-messaging-host/chromium/org.jabref.jabref.json into `~/Library/Application Support/Google/Chrome/NativeMessagingHosts`.

This assumes

[2020-06-06 12:22] FilipeMaia commented on #177
No problem, thanks for the help :).
There is no `/opt/jabref`. JabRef is installed in `/Applications/JabRef.app/` as most MacOS apps.
I'll try to download the file as suggested an see what I can do with the paths.

[2020-06-06 12:41] FilipeMaia commented on #177
So I downloaded the `jabrefHost.py` into `/Applications/JabRef.app/Contents/runtime/Contents/Home/lib` and made it executable. I then edited to change the shebang to point to my python3 which is in `/usr/local/bin/python3`.
I finally edited `org.jabref.jabref.json` to point to the location in `/Applications`. And it now works!
But clearly this should be improved...

[2020-06-06 14:34] LyzardKing commented on #177
... I'm looking at it in the previously mentioned PR, it wasn't it's main point, but it's probably a question of linking the correct files in the new buildres/mac folder

[2020-06-15 10:03] LyzardKing commented on #177
With the latest push on the PR (https://github.com/JabRef/jabref/pull/6442) the correct files should be included in the macos build.
The issue now is mostly with the install command, to copy the system files.. but it's a step in the right direction.
No more fiddling with the linux files in macos...hopefully we can keep the two separate (mostly)

[2020-06-18 12:38] IstvanZachar commented on #136
@tobiasdiez What kind of further feedbeck would help in resolving the issue?

[2020-08-11 06:26] diatomicDisaster opened #208 "Browser extension fails to connect with Ubuntu Raspi"
I'm on Linux Ubuntu Mate 20.04 Raspberry Pi ARM64 edition. I've successfully installed the JabRef snap from the snap store following the snap instructions here https://docs.jabref.org/collect/jabref-browser-extension

I've also installed the browser extension for both Firefox and Chromium. However when I try to run the final step - connecting the package to the extension - I run up against the fol

[2020-08-11 10:50] tobiasdiez commented on #208
@LyzardKing sorry to bother you again, but do you have an idea what's the problem here? It's supposed to work with the latest snap, right?

[2020-08-11 10:52] LyzardKing commented on #208
@diatomicDisaster
Could you post the output to:
`snap --version`
and
`snap connections jabref`

[2020-08-12 07:49] diatomicDisaster commented on #208
Ok, so it appears the version of JabRef I 'installed' was not really installed. I have tried building from scratch with the latest JDK and I get the following. Is there a method for building JabRef on an ARM64?

[code]

[2020-08-12 09:51] tobiasdiez commented on #208
Looks like there is a problem with the openjfx cache folder. I googled a bit and found the following threads, hopefully they solve your problem:
https://forum.snapcraft.io/t/openjfx-app-crashing-because-of-prism-pipeline/9645/2
https://github.com/gluonhq/client-gradle-plugin/issues/39

[2020-08-12 11:17] LyzardKing commented on #208
@tobiasdiez we should probably sort this in the main repo, since the snap is available on all architectures.
If it isn't building properly it should be disabled on those architectures.

[2020-08-13 02:28] ShawnGeller opened #209 "Can't export anything"
Not sure what the problem is, but this extension isn't working for me. The error message I'm getting is

"Error while sending to JabRef, Please see the browsers error console for details."

In the browser error console it says:

TypeError: data is undefined at moz-extension://06687624-a731-416c-a2c9-cd5cca8ed0ae/Zotero/translate_item.js:134

I'm not sure how to troubleshoot this, maybe I've instal

[2020-08-16 18:16] LyzardKing commented on #209
Could you write here a url that fails on your system, so we can test it.
Also, what version of jabref are you running? And on which OS?

[2020-08-16 18:39] ShawnGeller commented on #209
Sorry, I should have said. Here's an example url: https://arxiv.org/abs/2008.05488 but I get the same error independent of what website I'm on. Here's the info from about jabref:

JabRef 5.0--ArchLinux--3
Linux 5.7.14-1-manjaro amd64
Java 14.0.2

[2020-08-17 16:28] LyzardKing commented on #209
Does the file /opt/jabref/lib/jabrefHost.py exist?
It might have something to do with the arch package. Is it from AUR?

[2020-08-20 08:52] etiennebonnafoux opened #211 "zotero.js:309 TypeError: Cannot read"
Hello,

JabRef work fine for me since I installed it but on one paper it bugged.
The paper is https://arxiv.org/pdf/1109.0517.pdf . Moreover I use Brave as navigator.
In the consol I got this message of error:

-- | -- | -- | --
  | complete | @ | translate.js:1547
  | Zotero.Translate.Web.complete | @ | translate.js:2249
  | (anonymous) | @ | translate.js:1679
  | Promise.catch (async) |   |  
 

[2020-08-20 10:43] LyzardKing commented on #211
It works for me.
What os/jabref versions are you running?

[2020-08-20 13:58] etiennebonnafoux commented on #211
My version is 2.1.2 and I am on windows 10

You mean it can't work on brave or Jabref misunderstand the navigator I am using?

[2020-08-20 14:30] LyzardKing commented on #211
The failing component, the polyfill should only be used in firefox. It is used to add functionality to the browser if needed.
Chrome and chromium browsers should have all the functions necessary.

[2020-08-20 14:33] LyzardKing commented on #211
It works in chrome as well.
@tobiasdiez you're running windows, right? Could you test it?

[2020-08-28 22:45] ShawnGeller commented on #209
Apologies. I had installed incorrectly, into /opt/JabRef/, and also had forgotten to chmod the jabrefHost.py file. It's working now. Thank you!

[2020-08-28 22:45] #209 closed

[2020-08-28 22:49] tobiasdiez commented on #209
Thanks for the feedback, glad it works now for you. @LyzardKing thanks for the assistance and you help!

[2020-09-01 19:40] mollyng opened #216 "stuck on "searching for bibliographic data" firefox, windows 10"

[2020-09-02 07:35] LyzardKing commented on #216
Could you provide an example of a url that you're trying to import from?
Also, from the `about:addons` page in firefox, if you click on the JabRef extension, then `preferences`,
what does it say in `connection status`?

[2020-09-02 20:26] AriSchlesinger commented on #177
Similar issue with Firefox on Mac
fixed locally following similar strategy to @FilipeMaia

updated `jabrefHost.py`located at '/Applications/JabRef.app/Contents/Resources` to point hashbang to `/usr/local/bin/python3` (where python3 will be installed using Homebrew)
made `jabrefHost.py` executable.

created new folder `NativeMessagingHosts` at path `/Users/ *yourUser* /Library/Application Support/M

[2020-09-02 21:38] mollyng commented on #216
It was working, then wasn't working, now working... except for this article..
https://www-sciencedirect-com.proxy.lib.umich.edu/science/article/abs/pii/S0305736401913915 for "Evolution and Function of Leaf Venation Architecture: A Review".

The connection status is connected to JabRef

[2020-09-04 12:55] koppor commented on #133
Refs https://github.com/JabRef/jabref/issues/6832#issuecomment-686505405

[2020-09-15 05:17] MingLin-home commented on #177
I have the same issue. JabRef 5.1, installed by DMG. Not lucky enough to make it work...

[2020-09-15 07:17] LyzardKing commented on #177
@AriSchlesinger @FilipeMaia
Could you test something? Try replacing the hashbang with:
`#!/usr/bin/env python3`
This should fetch the correct python version without hardcoding it.
Thanks

[2020-09-15 07:21] LyzardKing commented on #177
@MingLin-home
Can you verify that the file jabrefHost.py exists in `/Applications/JabRef.app/Contents/Resources`?
Also try changing the first line as described in the previous comment.

[2020-09-20 18:35] clecap commented on #177
Same problem here on MacOS 10.15.6

JabRef 5.1 installed via DMG.

jabrefHost.py confirmed in JabRef.app/Contents/Resources

shebang is /usr/bin/python3

/usr/bin/python3 is installed

org.jabref.jabref.json is in NativeMessagingHosts

In Firefox: Extension does not show up
In Chrome: Extension throws ERR_FILE_NOT_FOUND

[2020-09-22 10:27] husten1997 commented on #158
I found a different workaround, inspired by @Haini .
I'm on Firefox 80.0.1 and Manjaro,
installed JabRef from the AUR, which might be the reason why the fix of Haini did not work for me.

1. Follow the installation as described [here](https://docs.jabref.org/collect/jabref-browser-extension#linux), including the step of coping the .json file. (Or follow Hainis instructions)

2. As Haini pointed ou

[2020-09-23 10:17] LyzardKing commented on #158
@husten1997
The .py script will look at `which jabref` and use that if the relative file is not found.. so that should not be necessary.
Try changing the path in the .json file to the jabrefHost.py included in jabref (so not a copy)

[2020-09-23 13:30] husten1997 commented on #158
Ah, alright I see, thank you.
But: This failed for me because of two reasons, which might be due to the fact that I installed JabRef from the AUR:
1. The .py file was not installed anywhere on my system. I had to clone it from the repo
2. The string in line 21 of the .py file is misspelled for me, because my executable is called JabRef, so `which jabref` yields no result

I'll test the AUR build a

[2020-09-24 06:49] LyzardKing commented on #158
Ok. So if we get the .py file added to the AUR build (I'm not in charge of that, but we can raise the issue on the AUR page)
and set the executable to the lowercase standard it should be fine.
@husten1997 Could you report this on the AUR  repo if you're already registered?

[2020-09-30 10:02] husten1997 commented on #158
Ok I have tested all JabRef AUR repos:
1) jabref: the normal jabref repo, version 5.1
2) jabref-git: automatically build jabref from github
3) jabref-latest: latest version of Jabref on master

So 3) installed just fine, the *.py file is installed, the executable is lowercase, 1) and 2) had the issues described above.
So for everyone using the AUR: use the "jabref-latest" package, it should work o

[2020-09-30 19:59] michaellass commented on #158
This should be fixed now for the jabref package in the AUR, as long as the user installed the json file correctly.

@tobiasdiez is there a specific reason why the `org.jabref.jabref.json` is not included in the browser extension? For comparison, I also use the extension for KeepassXC and a very similar file `~/.mozilla/native-messaging-hosts/org.keepassxc.keepassxc_browser.json` came with the exte

[2020-10-01 07:12] LyzardKing commented on #158
Thanks! I'll look into it

[2020-10-01 15:19] tobiasdiez commented on #158
This file cannot be installed via the browser extension, and that's the whole point in the security concept: extension E says "I want to communicate to app A" and app A has to say "I want to allow extension E" by creating such a json file (listing extension E). In this way, no extension can communicate/access other applications outside of Firefox/Chrome without the applications affirmation.

The t

[2020-10-01 15:29] michaellass commented on #158
That makes sense. Also, my memory on the KeepassXC extension was wrong. There is user action required but they implemented this in KeepassXC itself. So you can select in the preferences for which browsers the extension should work and then KeepassXC creates the json file in the user's home directory:
https://github.com/keepassxreboot/keepassxc/blob/43c82ccb09f05c3a14fd6109183e442facc58e97/src/brow

[2020-10-02 06:11] coughingmouse commented on #177
First time trying JabRef at all but No luck on Brave either.

1. Installed dmg,
1. placed the newer `~/Library/Application\ Support/BraveSoftware/Brave-Browser/NativeMessagingHosts/org.jabref.jabref.json`,
1. changed jabrefHost.py shebang to `/usr/bin/env python3`
1. and copied it on `/Applications/JabRef.app/Contents/runtime/Contents/Home/lib` because I don't know what I'm doing.

But all I ever

[2020-10-02 06:22] LyzardKing commented on #177
@clecap "org.jabref.jabref.json is in NativeMessagingHosts". In what folders?
It should be in:
`~/Library/Google/Chrome/NativeMessagingHosts` for chrome (and brave @coughingmouse )
`~/Library/Application Support/Mozilla/NativeMessagingHosts/<name>.json ` for firefox.

Let me know if those paths work.

[2020-10-02 07:55] coughingmouse commented on #177
@LyzardKing Why should it be placed in a Google folder for Brave? I don't even have Chrome installed. But if it were the case that there 're components that only work when the json file is in `.../Google/Chrome` directory, I'm guessing Brave or Ungoogled-chromium support needs to be added in the code as a feature.

I copied the json file onto the directory to see if it works, just to be clear, to

[2020-10-02 08:24] LyzardKing commented on #177
Brave (and many other browsers) are chrome-based, so they often use the same folder structure as chrome..
There are many issues (by looking at different support tickets on extensions) like the following:
https://github.com/browserpass/browserpass-native/issues/43#issuecomment-481794094
They seem to point to inconsistencies with the folder structure in brave.

Another path to try is: ~/Library/Appl

[2020-10-02 10:32] clecap commented on #177
Confirming that

* it is in the required folders.
* the JSON mentioned paths lead to a python file.
* the python interpreter mentioned in the shebang exists.

I still get the "ERR_FILE_NOT_FOUND" error. :-(

On 02.10.20 08:22, Galileo Sartor wrote:

[2020-10-02 15:56] AriSchlesinger commented on #177
Heads up, in Firefox, it appears in the URL bar:

<img width="516" alt="Screen Shot 2020-10-02 at 11 55 45" src="https://user-images.githubusercontent.com/52108669/94943824-4e51d480-04a6-11eb-82f9-40ed26327b95.png">

[2020-10-02 16:02] AriSchlesinger commented on #177
Have you all made the file `jabrefHost.py` executable?

(see links below on creating an executable if you are unsure)
https://superuser.com/questions/1164706/how-do-i-make-a-python-file-executable-on-macos-sierra
https://stackoverflow.com/questions/36564320/how-to-make-python-script-executable-on-osx

[2020-10-02 16:04] AriSchlesinger commented on #177
I am fairly certain I tried this with no luck.

[2020-10-02 17:38] LyzardKing commented on #177
@AriSchlesinger
Thanks for the testing...
Does it work with `#! /usr/bin/python3`?

[2020-10-06 04:37] AntonioDEM opened #626 "JabRef BrowserExtension for Safari"
is there any way to insert an extension for safari?

[2020-10-06 05:12] AntonioDEM opened #226 "difficulty importing from FireFox browser"
JabRef v5.1  on Mac OS X 10.15.7 Catalina - FireFox 81.0.1

this is the first time I use JabRef, I usually find Zotero very comfortable as it has a great extension.

I'm having difficulty importing from FireFox browser.
when i press "ctrl-alt-j" i have these two situations:

**1.** **on a website** where I look for the meaning of the "identity function" for example.

JabRef extension does not appe

[2020-10-06 20:19] Siedlerchr commented on #226
I have moved your issue to the correct repostiroy

[2020-10-06 21:18] tobiasdiez commented on #226
The JabRef icon only appears when the extension can find meaningful metadata (e.g. title and author of a paper). If this is not possible, then no icon is shown. So your case 1) is more or less by design.

The issue you describe under 2) points to a misconfiguration. Please follow the steps under https://docs.jabref.org/collect/jabref-browser-extension. As you seem to use Mac, the following issue i

[2020-10-06 21:18] #226 closed

[2020-10-08 07:40] AntonioDEM opened #227 "JabRef BrowserExtension for Safari"
is there any way to insert an extension for safari?

[2020-10-08 07:43] tobiasdiez commented on #227
I think this would be a nice addition, indeed! @Siedlerchr @LyzardKing could you try to create the xcode project as described in https://developer.apple.com/documentation/safariservices/safari_web_extensions/converting_a_web_extension_for_safari. I don't have a Mac, so this is hard for me to do.

It looks like that's all that is required on the extension side, and as @LyzardKing says it shouldn't

[2020-10-08 07:49] LyzardKing commented on #227
I don't have a mac either..
I might be able to test something in a vm, but that's all the mac access I have

[2020-10-08 08:00] Siedlerchr commented on #227
I do have a Mac, so I can prepare this stuff. Will look into it. Just need to know where the extension has to be placed into afterwards

[2020-10-08 08:10] LyzardKing commented on #227
There might be compatibility issues with the current version of native-messaging on macos:
https://github.com/keepassxreboot/keepassxc-browser/issues/294

[2020-10-08 09:12] tobiasdiez commented on #227
@Siedlerchr that seems to be helpful: https://developer.apple.com/documentation/safariservices/safari_app_extensions/building_a_safari_app_extension#2957926

[2020-10-08 13:41] Siedlerchr commented on #227
I built it using the converter and could run it in Safari.
Also started JabRef but seems not to work yet.
https://github.com/JabRef/JabRef-Browser-Extension/tree/safariExt/safari

<img width="905" alt="Bildschirmfoto 2020-10-08 um 15 37 35" src="https://user-images.githubusercontent.com/320228/95466150-53b68f80-097c-11eb-84ac-6bacc7d63faf.png">

[code]
https://developer.apple.com/documentation/saf

[2020-10-08 13:54] tobiasdiez commented on #227
Cool! Can you try to update safari and/or xcode. These keys should be supported in more recent versions according to https://github.com/keepassxreboot/keepassxc-browser/issues/294#issuecomment-696318072

[2020-10-08 14:40] Siedlerchr commented on #227
Tried again witjh Safari 14.01 (latest technology preview) and I already use xcode 12. Version 12.0.1 (12A7300)
in the js console I see:
[code]

[2020-10-08 16:42] tobiasdiez commented on #227
Yeah, it's expected that there are gone be some problems as the the Zotero plugin contains some extra checks for their old-style Safari extension, like
https://github.com/JabRef/JabRef-Browser-Extension/blob/master/Zotero/inject.js#L73

Maybe setting `Zotero.isSafari` to false somewhere early (e.g. in the background script) might already suffices. Otherwise the Zotero code needs to be changed as w

[2020-10-08 17:48] Siedlerchr commented on #227
I will take a look at it in the next days.

[2020-10-14 17:11] clecap commented on #177
Yes, jabrefHost.py, which is in the JabRef.app Contents folder, is executable.

`/usr/bin/env python3` or `/usr/bin/python3` makes no difference in the reaction. ERR_FILE_NOT_FOUND error.

[2020-10-22 16:03] parmeshgajjar commented on #216
Hi I am having the same issue:

![image](https://user-images.githubusercontent.com/34513950/96899050-5343eb80-1488-11eb-84bc-157f252ba8f5.png)
![image](https://user-images.githubusercontent.com/34513950/96899096-635bcb00-1488-11eb-9e6a-dcd72679192b.png)

Windows 10, Running JabRef 5.1 and latest version of Firefox 82.0

[2020-10-30 11:29] nicoborghi opened #238 "JabRef on the New (2020) Microsoft Edge Browser"
Following the docs https://docs.jabref.org/collect/jabref-browser-extension for **Edge** I had the following Errors/Warnings:

Extension options tab:
`Connection Status: Access to the specified native messaging host is forbidden`

Console error (When using the extension on ArXiv)
`TypeError: Cannot read property 'items' of null at [...] logError @ zotero.js:335`

**Workaround solution**

1. CMD: `

[2020-10-30 14:53] LyzardKing commented on #238
A new json file is not needed, since it can have two origins.
@nicoborghi can you test if it this works?

[code]

[2020-10-30 15:05] LyzardKing commented on #238
@tobiasdiez Is the regex line something we can add at install? Like we do on the other systems..

[2020-10-30 15:53] nicoborghi commented on #238
Yes, it works!

[2020-11-08 11:54] eugenio opened #241 "Adblock extension interferes with the functioning of the extensions"
I have no idea how or why, please guide me into diagnose the problem more in detail but I noticed that if I have a page on which adblock plus is working on, jabref extension doesn't work at all.
For now i noticed the problem on Ubuntu and Google-chrome but I suspect that the issue is related to the adblock plus extension and thus more generally spread on those system that use it no matter on the o

[2020-11-08 12:10] LyzardKing commented on #241
can you open the inspector and see what it logs in the console when you run the extension?
Both with and without adblock...

[2020-11-08 12:25] eugenio commented on #241
Here you have attached two log files with and without adblock:

[www.sciencedirect.com-1604837997661-without-adblock.log](https://github.com/JabRef/JabRef-Browser-Extension/files/5506307/www.sciencedirect.com-1604837997661-without-adblock.log)

[www.sciencedirect.com-1604837997661-with-adblock.log](https://github.com/JabRef/JabRef-Browser-Extension/files/5506308/www.sciencedirect.com-1604837997661

[2020-11-08 12:50] LyzardKing commented on #241
Can you post the url you're trying to parse?

[2020-11-08 13:14] eugenio commented on #241
Sorry I thought it was included in the logs.
Anyway it should be this one:
[https://www.sciencedirect.com/science/article/pii/S0960852419309368](https://www.sciencedirect.com/science/article/pii/S0960852419309368)

[2020-11-08 14:18] tobiasdiez commented on #241
When you click on the button, the extension downloads the "translator" code (the code responsible of extracting the bibliographic information). The logs suggest that adblock is blocking this download and hence the extension is not able to extract anything meaningful from the website.

I'm not using adblock, but you probably have a way to see which websites/downloads it blocked. There you should al

[2020-11-08 14:27] eugenio commented on #241
I can confirm that with the suggestion of @tobiasdiez the issue seem to be solved.
What I did is to go to zotero.org website and authorize the full domain in adblock-plus.
I'm not sure is the best solution but seem to be working for me!
Many thanks for the help!

[2020-11-08 15:38] tobiasdiez commented on #241
Good to hear!

Could you please add a "Troubleshooting" section at the bottom of https://github.com/JabRef/user-documentation/edit/master/en/collect/jabref-browser-extension.md with a short description of what you did to fix this problem. Then other users have an easier life. Thanks!

[2020-11-08 16:12] #241 closed

[2020-11-08 22:08] LyzardKing commented on #241
@tobiasdiez It's strange, because I cannot replicate the issue.
I checked the default lists used by adblock plus, and there is no mention of zotero

[2020-11-08 23:18] tobiasdiez commented on #241
I guess it's probably in one of the more aggressive lists...

[2020-11-09 16:23] #238 closed

[2020-11-11 02:09] OmarElAshkar opened #244 "JabRef on firefox don't support capturing PDF links"
Hello,
On JabRef firefox extension, it seems like the extension does not support directly adding a pdf file like in this link:

[testpaper](https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3123451/pdf/nihms288491.pdf)

I suggest if it's possible, to create a dummy entery with the name of the pdf as the title temporarly, then update from the metadata of the pdf.

Best Regards,
Omar

[2020-11-12 14:49] eugenio commented on #90
I believe I have a similar issue with Google-Chrome.
In the console I see  some errors whose trace i attached in [log](https://github.com/JabRef/JabRef-Browser-Extension/files/5531299/sfamjournals.onlinelibrary.wiley.com-1605192221589.log)
the page is : [https://sfamjournals.onlinelibrary.wiley.com/doi/abs/10.1111/1462-2920.14842](https://sfamjournals.onlinelibrary.wiley.com/doi/abs/10.1111/1462-2

[2020-11-12 21:42] tobiasdiez commented on #90
That points to a problem because I guess you have a proxy enabled (tracked in #153).

[2020-11-13 08:52] eugenio commented on #90
@tobiasdiez I tried both with connection behind proxy (my  dorm connection) and a cell connection (my own cellular connection); it always gives the same error...
I tried with my university manual proxy, with the same result. I think we can conclude that it is not a proxy issue.

[2020-11-13 09:04] LyzardKing commented on #90
@tobiasdiez I can confirm this issue.
I tested it and the jabref icon in chrome doesn't activate (it opens the contextual menu, as if it wasn't on a parsable page)

[2020-11-13 09:34] tobiasdiez commented on #90
Ok, my bad! Thanks for testing. @eugenio could you please open a new issue, as the problem seems to be specific to chrome.

[2020-11-13 09:39] eugenio commented on #90
@tobiasdiez, yes no problem! Shall I copy the message content of my two posts? or just reference this issue?

[2020-11-13 09:59] LyzardKing commented on #90
It works if I run from master.
There might be some change that is not yet available in the released version

[2020-11-13 10:22] eugenio commented on #90
@LyzardKing i cannot seem to be able to install it from git's master.... I give sudo ./install_linux.sh in a terminal and the menu appears but after the process ends the extension isn't in chrome even after restarting chrome... what am I missing?

[2020-11-13 10:34] LyzardKing commented on #90
The install script only adds a file needed to communicate with the extension and the program (jabref).
To test from master you would need to install npm and web-ext..
and it would only be temporary... so it's not really the best way to install.
@tobiasdiez Could you test that master works? There might have been something we imported from zotero that is not in the released version yet.. What do you

[2020-11-13 11:14] tobiasdiez commented on #90
You are right, the published Chrome extension is still on 2.1.2 while the master (and firefox) is 2.2.

I hope I find the time this weekend and invest time into the extension again, fixing some of the remaining issues and publishing a new version to all browser stores.
@eugenio if you want to try out the master, follow https://github.com/JabRef/JabRef-Browser-Extension#contributing-to-the-developm

[2020-11-13 11:20] LyzardKing commented on #90
@tobiasdiez Could the upload process be automated?
With something like https://github.com/LinusU/wext-shipit

[2020-11-13 11:22] eugenio commented on #90
@tobiasdiez thanks for the tip and for the great work!

[2021-01-09 18:25] stiftle commented on #90
Hello,
could someone push the current version to Chrome (as far as I understand, the code for Firefox, where it works and Chrome is equal and therefore no changes would be necessary) since Chrome is by far the most common browser?

However, this extension is absolutely awesome if it works!

Thanks a lot for your work!

[2021-01-15 17:29] wwtan commented on #244
Hi,

I have the same issue over [here](https://journals.sagepub.com/doi/full/10.1177/0954410015591045). The html page is downloaded instead of the actual pdf after I have entered my credentials.

Thanks and best wishes,
Weijie

Running Firefox 84.0.2, JabRef 5.2, Browser extension 2.2

[2021-01-16 15:50] lhietal commented on #158
I had a similar error message on macOS. It was actually caused by jabrefhost.py pointing to incorrect location for python3. At least my version of macOS doesn't have python3 installed in /usr/bin. Changing this to a homebrew installation of python3 resolved the problem.

macOS 10.14.6
JabRef 5.2
Firefox 84.0.2

[2021-01-17 20:52] #244 closed

[2021-01-17 20:55] tobiasdiez commented on #244
This should be fixed in the next release. Then you also have a JabRef icon when a PDFs is displayed. As of now the extracted metadata is pretty limited, since we cannot get any data from the website. Thus it is still recommended to go the article webpage.

@wwtan This should be a problem with the specific translator used (which is not able to correctly resolve the PDF). Please open a issue for thi

[2021-01-17 20:59] tobiasdiez commented on #227
@Siedlerchr did you made any progress towards this?

[2021-01-17 21:05] tobiasdiez commented on #216
The above link is behind a paywall. Can you please provide a freely accessible link so that I can reproduce it. Thanks!

Moreover, it would be nice if you could copy the output in the Browser Console (Tools > Web Developer).

[2021-01-17 21:17] tobiasdiez commented on #211
I cannot reproduce this error, but the import from https://arxiv.org/abs/1109.0517 indeed doesn't work. It's a problem with JabRef and not the browser extension, so I've opened https://github.com/JabRef/jabref/issues/7359 for it.

[2021-01-17 21:19] tobiasdiez commented on #178
Seems to be fixed indeed.

[2021-01-17 21:19] #178 closed

[2021-01-19 22:02] tobiasdiez commented on #177
Does this error still occurs? I don't have a mac, so I sadly cannot test this. @LyzardKing @Siedlerchr can you reproduce the ERR_FILE_NOT_FOUND  error?

[2021-01-19 22:03] tobiasdiez commented on #175
Thanks for your suggestion! With the new version, it should be possible now to directly import PDFs into JabRef.

[2021-01-19 22:03] #175 closed

[2021-01-19 22:08] #170 closed

[2021-01-19 22:17] tobiasdiez commented on #158
That's good to hear!
In the next version, the "data is undefined" error should be fixed (it was actually only a stray error message, not related to the import errors). We also improved the installation scripts, so I hope it's ok to close this issue now.

@lhietal May I ask you to add a last step "Check that the Python script works" to https://github.com/JabRef/user-documentation/blob/master/en/col

[2021-01-19 22:17] #158 closed

[2021-01-19 22:30] tobiasdiez commented on #73
I don't see any way to test the extension in a proper way right now. Especially given that the most problems currently occur at the Extension > JabRef communication step, which is especially hard to automate.

[2021-01-19 22:30] #73 closed

[2021-01-19 22:33] tobiasdiez commented on #60
Out of scope for now, but PRs are warmly welcome!

[2021-01-19 22:33] #60 closed

[2021-01-19 22:36] tobiasdiez commented on #59
There were many recent improvements that hopefully fixed this issue. I'll close it for now, but please let me know if you still experience issues and I'll reopen it.

[2021-01-19 22:36] #59 closed

[2021-01-19 22:37] #107 closed

[2021-01-19 22:40] tobiasdiez commented on #136
The installation was heavily improved in the last few releases of JabRef, so this should work now more reliable. Please try again with the latest development version.

@IstvanZachar this error says that Firefox cannot find JabRef. Please try to reinstall JabRef and if this doesn't work please follow the steps described in the user manual. https://docs.jabref.org/import-export/import/jabref-browser

[2021-01-19 22:40] #136 closed

[2021-01-19 22:42] tobiasdiez commented on #62
This error should be fixed in the next version.

[2021-01-19 22:42] #62 closed

[2021-01-20 06:13] Siedlerchr commented on #177
Firefox and jabref latest dev version on Mac I do not have any issues

[2021-01-20 07:40] LyzardKing commented on #177
@Siedlerchr does it work with the system version of python3? Without installing from other sources like brew?

[2021-01-20 08:02] AEgit commented on #62
JabRef 5.3--2021-01-16--e17dc8e
Windows 10 10.0 amd64
Java 14.0.2
JavaFX 15.0.1+1

JabFox 2.2
Firefox 84.0.2 (64-bit)

The behaviour reported in https://github.com/JabRef/JabRef-Browser-Extension/issues/62#issuecomment-545335464 does, indeed, appear to be fixed. Well done!

[2021-01-20 08:08] Siedlerchr commented on #177
Good question, I  may have installed python3 form another source:
Python 3.9.0 (default, Nov 21 2020, 14:55:42)

[2021-01-20 09:24] LyzardKing commented on #177
what do you get if you run `which python3` in the terminal?

[2021-01-20 09:26] Siedlerchr commented on #177
`/usr/local/bin/python3`

[2021-01-20 09:38] LyzardKing commented on #177
As far as I can tell that should be the version pulled from the python website...
brew should install in a /cellar/... dir, and the system version should be in /ust/bin/python3...
The strange thing is that the env shebang doesn't work...

[2021-01-20 09:46] Siedlerchr commented on #177
hm, I only found this thread here https://stackoverflow.com/questions/52969383/shebang-line-for-python-does-not-work-at-all
maybe something with permissions?

[2021-01-20 19:05] tobiasdiez commented on #153
Seems to work now.

[2021-01-20 19:12] tobiasdiez commented on #148
I currently cannot reproduce this since the google website reports "429 too many requests". I guess I hit some kind of quota :(

Do you experience this problem only with google, or also on other websites?

[2021-01-20 19:19] tobiasdiez commented on #133
I've tried all links in this issue with the new version of the extension (to be released soon) and everything worked.

The only exception was https://science.sciencemag.org/content/364/6438/eaav2501, which failed because "The command line is too long". This is tracked at https://github.com/JabRef/JabRef-Browser-Extension/issues/49.

[2021-01-20 19:19] #133 closed

[2021-01-20 19:22] tobiasdiez commented on #123
The provided link currently fails with

HTTP POST https://ieeexplore.ieee.org/xpl/downloadCitations failed with status code 503
url => https://ieeexplore.ieee.org/document/8482125

I guess this is due to the recent api change of IEEE and is definitely a problem with the JabRef browser extension. Can you please report this issue over at zotero/translators. Thanks!

[2021-01-20 19:22] #123 closed

[2021-01-20 19:22] tobiasdiez commented on #109
PRs welcome!

[2021-01-20 19:22] #109 closed

[2021-01-20 19:25] tobiasdiez commented on #90
As said above, the issue is fixed in the most recent version. I'll push an update to the store in the next few days! Sorry for the inconvenience caused.

[2021-01-20 19:25] #90 closed

[2021-01-20 19:57] tobiasdiez commented on #82
I did some prelimary investigation. It's not yet working, but as a first step the following code should be added to zotero.js > Prefs > get:
[code]

[2021-01-20 19:57] tobiasdiez commented on #76
Should be fixed now.

[2021-01-20 19:57] #76 closed

[2021-01-22 06:06] koppor commented on #49
Are we hitting the architecture discussion of providing a websocket interface? Refs https://github.com/JabRef/jabref/pull/5943

[2021-01-25 03:53] adam3smith commented on #244
@tobiasdiez it's great that JabRef is using Zotero translators, but please don't ask people to open issues on the Zotero translator github unless they've actually looked at the code and identified specific issues.
The majority of import/translation issues is not due to actual translator problems and we do all triage for translators on forums.zotero.org (and will require people to actually run Zote

[2021-01-25 09:19] tobiasdiez commented on #244
@adam3smith Sure! I wasn't aware of this specific site for translator issues. Will point people to it in the future!

[2021-01-30 10:55] tobiasdiez commented on #172
Thanks to @systemoperator this is now fixed.

[2021-01-30 10:55] #172 closed

[2021-01-30 10:56] tobiasdiez commented on #148
Closing this issue due to inactivity :zzz:
Please reopen the issue with additional information if the problem persists.

[2021-01-30 10:56] #148 closed

[2021-01-30 10:57] tobiasdiez commented on #177
So it seems this is fixed now, right?

[2021-01-30 10:57] #177 closed

[2021-01-30 10:57] tobiasdiez commented on #216
Closing this issue due to inactivity :zzz:
Please reopen the issue with additional information if the problem persists.

[2021-01-30 10:57] #216 closed

[2021-01-30 10:57] tobiasdiez commented on #211
Closing this issue due to inactivity :zzz:
Please reopen the issue with additional information if the problem persists.

[2021-01-30 10:57] #211 closed

[2021-01-31 22:06] clecap opened #271 "Error message in browser console"
This is about extension version 2.4 installed on Chrome 88.0.4324.96 (Official Build) (x86_64) on MacOs 10.15.6 on a google scholar page with Jabref 5.2.

The extension is freshly installed and reports an error in the browser console as follows:
![Screenshot 2021-01-31 at 23 06 12](https://user-images.githubusercontent.com/7084049/106399453-f5288c00-6418-11eb-853f-d205a2a52c33.png)

[2021-01-31 22:11] clecap opened #272 "Option page scrollbar vibration"
Opening the option page of the extension produces a "scrollbar vibration". See screen movie attached.

Effect is reproducible and shows up on extension version 2.4 installed on Chrome 88.0.4324.96 (Official Build) (x86_64) on MacOs 10.15.6.

https://user-images.githubusercontent.com/7084049/106399517-61a38b00-6419-11eb-9805-9ff0708cdbb0.mov

[2021-01-31 22:16] clecap commented on #177
@tobiasdiez thank you for coming back on this.

I installed JabRef and the extension from a completely new download to test it.

Result: I cannot test this error as now there is a new error which does not let me test this effect any longer. I get stuck at "searching bibliographic data" and get a "cannot read property of configOptions of undefined" error in the browser console. See my new issue.

S

[2021-02-09 12:43] reox opened #274 "Encoding Issues with FF/Win10"
This is similar to issue #33 (I also tested with the link there, and get the same buggy result)
Running version 2.4 in Firefox 85.0 on Windows 10 with JabRef 5.2--2020-12-24--6a2a512

For example, with this article: https://www.sciencedirect.com/science/article/pii/S8756328220301976
All umlauts and special characters are mangled when importing, for example µ will get Î¼.

![image](https://user-ima

[2021-02-12 22:35] tobiasdiez commented on #271
Thanks for your report. I cannot reproduce this. Could you please provide the url where the error occurs.

[2021-02-12 22:45] tobiasdiez commented on #274
It's working on Windows, and is correctly displayed in the browser console:

@article{newton_automated_2020,
	title = {Automated {MicroCT}-based bone and articular cartilage analysis using iterative shape averaging and atlas-based registration},
	volume = {137},
	issn = {8756-3282},
	url = {https://www.sciencedirect.com/science/article/pii/S8756328220301976},
	doi = {10.1016/j.bone.2020.115417},

[2021-02-13 08:15] LyzardKing commented on #274
No, I cannot reproduce the issue. On Ubuntu both the snap and flatpak show the correct character.

[2021-02-13 11:01] reox commented on #274
How can I see this? When I'm opening the browser console I just see:
[code]

btw I'm on Windows - is the python script the correct one?

I also changed the default encoding to windows-1251 but I get the same result.

[2021-02-17 11:31] Krzmbrzl opened #277 "Failed to download PDF"
I am not entirely sure whether this is an issue with the Browser extension or JabRef itself.

Anyways: when  importing e.g. https://onlinelibrary.wiley.com/doi/abs/10.1002/0470862106.ia615 into JabRef, the download of the PDF starts directly. However when opening the "PDF" I end up getting something like this displayed:
[code]

To me this seems like either the extension has reported the wrong URL

[2021-02-17 11:35] Krzmbrzl commented on #277
Hold on. I just noticed that I don't seem to have access to the PDF, so that's probably why the download fails (it downloads the HTML page that tells me how to buy access).

Thus I am pretty sure that this is an issue of JabRef instead of the Browser extension. I'll create an issue in the main repo.

[2021-02-17 11:35] #277 closed

[2021-02-17 17:44] Carambarbe opened #278 "Firefox Extension : Error while sending to JabRef"
This is about extension for Mozilla Firefox 85.0.2 (64 bits) on Windows 10.
The extension is freshly installed and I can't export anything from my browser to JabRef.

I get the error :
"**Error while sending to JabRef.
Please see the browsers error console for details.**"

I get these two errors in the console:
- Error reading native manifest file C:\Programmes\JabRef\jabref-firefox.json: file is

[2021-02-17 23:39] tobiasdiez commented on #278
The first error says that the jabref-firefox.json cannot be found. Did you moved the installation of JabRef to a different folder? In this case, you need to change the registry entry `HKEY_LOCAL_MACHINE\SOFTWARE\Mozilla\NativeMessagingHosts\org.jabref.jabref` to point to the correct file. See https://docs.jabref.org/collect/jabref-browser-extension#windows for more details; alternatively a reinsta

[2021-02-18 08:32] Carambarbe commented on #278
My JabRef is by default installed in "_C:\Program Files\JabRef_".
I already tried to modify the registry without any success. I also tried to reinstall JabRef, it did not work either.

It says that "C:\Programmes\JabRef\jabref-firefox.json does not exist" but when I type this file path in my file explorer it opens the _json_ file.

[2021-02-18 08:43] tobiasdiez commented on #278
I guess you have a symbolic link from Programmes to Program Files, and firefox is not resolving this for some reason. What error do you get when you change the registry entry to `C:\Program Files\JabRef\jabref-firefox.json` ?

[2021-02-18 08:50] Carambarbe commented on #278
I already tried both _Programmes_ and _Program Files_.

I moved the JabRef file directly in C:\, and changed the registry entry by typing `REG ADD "HKEY_LOCAL_MACHINE\SOFTWARE\Mozilla\NativeMessagingHosts\org.jabref.jabref" /ve /d "C:\JabRef\jabref-firefox.json" /f` with admin rights. However, I still got the same error `C:\Programmes\JabRef\jabref-firefox.json does not exist`...

[2021-02-18 15:30] evoblue opened #279 "DBLP translator does not work"
JabRef version 5.2--2020-12-24--6a2a512  on  Fedora Linux 5.10.15-100.fc32.x86_64 amd64,  Java 15.0.1
Browser version 85.0.1 (64-bit)

JabRef Firefox extensions version 2.4 Last Updated January 31, 2021

I did not test on the latest development version because the bug is most probably in the browser plugin.

When visiting the DBLP database ( https://dblp.uni-trier.de/ ) and pressing the plugin but

[2021-02-27 14:12] evoblue opened #280 "DBLP translator does not work (the browser plugin)"
JabRef version 5.2--2020-12-24--6a2a512  on  Fedora Linux 5.10.15-100.fc32.x86_64 amd64,  Java 15.0.1
Browser version 85.0.1 (64-bit)

JabRef Firefox extensions version 2.4 Last Updated January 31, 2021

- [] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists
I did not test on the latest development version because the bug is

[2021-02-27 14:57] tobiasdiez commented on #280
This looks like a bug in the translator itself, but I have to double check to confirm this. If you have the time, you can try to install the zotero addon and try it directly with them. If that fails, then please report it at forums.zotero.org.

[2021-02-28 20:09] tobiasdiez commented on #279
Duplicate of #280.

[2021-02-28 20:09] #279 closed

[2021-02-28 20:13] tobiasdiez commented on #278
Running `REG ADD` doesn't change the registry, it only adds a new entry but doesn't overwrite an existing one. You can change the existing entry by running `regedit` and then manually navigating to "HKEY_LOCAL_MACHINE\SOFTWARE\Mozilla\NativeMessagingHosts\org.jabref.jabref".

[2021-02-28 20:20] tobiasdiez commented on #274
If you are on Windows, then the powershell script is used and not the python one. But I've double-checked it and the most recent version uses utf8 correctly before sending it to JabRef. So based on
[code]
I guess that JabRef is for some reason trying to decode it in latin1 instead of utf8. What is the encoding of your library (Library preferences)?

[2021-03-01 07:11] reox commented on #274
It is set to UTF8 and mode biblatex and also the bib file itself is indeed utf8:
[code]

I also resolved the issue of mixed CRLF/LF and set them all to LF now, but that did not changed the importer :/

Can I somehow debug what is send from the browser to jabref? is there a temp file I can watch?

[2021-03-01 12:16] tobiasdiez commented on #274
Strange...

Currently, there it is not written to a temporary file, but you can do this at the following point:
https://github.com/JabRef/jabref/blob/26433573032c72df99a7912cd4cf929f13891d53/buildres/windows/JabRefHost.ps1#L41 (the file should be in the installation directory of JabRef)
Adding something like `Out-File -FilePath .\Dump.txt -InputObject $messageText` should work. Maybe you need to c

[2021-03-01 13:09] reox commented on #274
Okay thanks, I just did that:
[code]

but maybe that is because  Out-file writes as UTF16 by default? Anyways, in the file the µ is correct.

[2021-03-01 13:12] tobiasdiez commented on #274
And it is working correctly if you import it from the cmd line `jabref -i file`? https://docs.jabref.org/advanced/commandline#import-file-i-filename-import-format

[2021-03-01 13:13] reox commented on #274
that does not like it at all:
[code]

[2021-03-02 13:07] clecap commented on #271
I still can reproduce this. A url is an arbitrary google scholar page. For example

https://scholar.google.de/scholar?hl=en&as_sdt=0%2C5&q=Bohr&btnG=

[2021-03-02 15:36] tobiasdiez commented on #271
Does it also happen on other websites? Google scholar is a bit tricky, since google is very aggressively blocking access.

[2021-03-02 23:22] clecap commented on #271
I experimented a bit with it on Google and I see what you mean. It seems not to be connected to the Zotero / Ad Block Plus problem. I have not seen that problem on different sites (but the reason may be that, due to another issue, which I also reported but which was closed prematurely) the extension is not working on any site for me (just the reasons vary).

That said...it would be great if the ex

[2021-03-03 08:07] Carambarbe commented on #278
I already tried to manually edit the registry with the registry editor (not from the console), so I don't think that's the point here.
Whatever the path I specified in the registry, I always get the error _C:\Programmes\JabRef\jabref-firefox.json: file is referenced in the registry but does not exist_, even though I wrote a very different path in the registry entry.

[2021-03-04 12:37] evoblue commented on #280
I have trouble to make zotero working. The zotero connector button doesn't show up at all despite my attempts. Tht's another story I think.

[2021-03-08 11:00] agirlando commented on #278
Same error also for Linux64 (Mageia7). Firefox 78.8.0esr, latest version of Jabref installed with the available *.rpm

[2021-03-08 17:15] evoblue commented on #280
I finally tried in Zotero today and it works fine.

[2021-03-26 09:40] tobiasdiez commented on #153
Experienced this again at https://link-springer-com.tudelft.idm.oclc.org/article/10.1134/S1061920821010039. Seems to be coming from the "Library access" extension.

[2021-03-26 09:51] LyzardKing commented on #153
This one I can't access without the proxy credentials..
If I go directly to the springer link (https://link.springer.com/article/10.1134%2FS1061920821010039) it works.

[2021-04-09 00:14] cballam opened #301 "Failed to load SourceMap in Chromium based browser - sends empty entry to Jabref"
I've been using this extension for a while now and have only started to have some issues with it this week. I'm using this extension (version 2.4) mainly in Google Chrome (version 89.0.4389.114 if relevant), on Windows 10. I have also tried the Brave browser, and get similar errors. Specifically:
![image](https://user-images.githubusercontent.com/27101846/114110117-1d050600-991a-11eb-9b2a-9b14cb1a

[2021-04-09 00:53] cballam commented on #301
After toying around with this for the last 30mins I believe I may have solved the problem. [Docs here](https://docs.jabref.org/collect/jabref-browser-extension) said that Zotero adblocking needed to be deactivated, so I did this in Brave. Apparently this was most of what I needed to do to fix the problem for that browser - I still get the "failed to load SourceMap" warning in the console, but it d

[2021-04-09 00:53] #301 closed

[2021-04-09 15:18] tobiasdiez commented on #301
I'm glad you could find a solution! I had a second look, but couldn't find a way to give a more useful error message (for example to see why the add blocker needs  to be disabled). Chrome just doesn't return any error details for the `sendMessage` command that is used for the communication with JabRef.

By the way, the initial warning about the source map can safely be ignored. Source maps are onl

[2021-04-21 03:02] zhangzw16 opened #304 "JabRef Chrome / Edge Extension NOT Working! Error while sending to JabRef."
Here's the problem:
Not matter on which site I open JabRef extension, it always shows **"Error while sending to JabRef. Please see the browsers error console for details."**

![Screen Shot 2021-04-21 at 11 01 31 AM](https://user-images.githubusercontent.com/26004183/115490582-f25b6b80-a290-11eb-98ef-d694285514b3.png)

And in Devtools, the console shows
[code]

It is always the case, whether in any

[2021-04-21 10:47] tobiasdiez commented on #304
Are there more error messages in the devtools console? The above is only an unrelated warning.

Since you experience these problems in edge and chrome, this points to a problem with the jabref setup. You can try the manual setup steps described at https://docs.jabref.org/collect/jabref-browser-extension

[2021-04-21 11:22] zhangzw16 commented on #304
This is the only error/warning that the devtools console outputs.
<img width="1000" alt="Screen Shot 2021-04-21 at 6 59 12 PM" src="https://user-images.githubusercontent.com/26004183/115543224-b4cc0200-a2d3-11eb-84c3-e9845ddde06f.png">
After following the instructions on [this website](https://docs.jabref.org/collect/jabref-browser-extension), the extension seems work fine. It recognizes arxiv web

[2021-04-22 12:18] tobiasdiez commented on #304
I'm glad it is working for you now. Google scholar often doesn't work because they have a very very strict quote of calls that they admit to their api, and you usually hit this limit already after one or two searches. Sadly, nothing we can improve.

@LyzardKing is there a problem in our mac install scripts that the json file is not copied into the correct path? (step 2 above)

[2021-04-22 12:39] LyzardKing commented on #304
I haven't tested the automatic install script (it only works in the pkg) since I'm not running macos.

The path on the website now only works for chromium, not chrome.
We need to add the new path (the one @zhangzw16 used).
I'll open a PR on the repo.

The fact that the user folder does not exist is normal, since it isn't created automaticaly

[2021-04-22 14:06] tobiasdiez commented on #304
Thanks a lot @LyzardKing, and thanks @zhangzw16 for sharing your solution.

Since the issue seems to be resolved now, I'll close it.

[2021-04-22 14:06] #304 closed

[2021-05-31 13:43] scfrank opened #325 "Vivaldi "message port closed" error, no bib data sent"
I'm using Jabref extension 2.4 on Vivaldi 3.8.2259.42 (Stable channel);
JabRef 5.2--2020-12-24--6a2a512
Mac OS X 10.15.7 x86_64
Java 15.0.1

On every page I have tried so far (e.g. https://arxiv.org/abs/1912.02757, but also nature journal) I get the "Error while sending to JabRef. Please see the browsers error console for details." message.
The console shows "Unchecked runtime.lastError: The messa

[2021-06-01 09:41] tobiasdiez commented on #325
Do you get any errors if you go to the preference page of the addon (there you should find "test connection" among others).

[2021-06-01 09:56] scfrank commented on #325
![Screenshot 2021-06-01 at 11 53 50](https://user-images.githubusercontent.com/414895/120304474-1bc7d800-c2d0-11eb-9ab5-93475f798cd6.png)
Is this what you mean?
There does seem to be a problem there, how do I fix this? Thanks!

[2021-06-01 14:44] LyzardKing commented on #325
@scfrank How did you install JabRef?
Also, what is the content of the org.jabref.jabref.json file you copied?

[2021-06-01 16:25] scfrank commented on #325
I installed Jabref via the dmg from the page that opened when I checked for updates from the previous version: https://www.fosshub.com/JabRef.html
I downloaded the update on May 28 but installed it only yesterday. I reinstalled the Jabref extension yesterday as well - I'd tried it before but it hadn't worked and I'd forgotten about it. Yesterday with the new update I decided to try the full workfl

[2021-06-01 16:44] tobiasdiez commented on #325
Thanks for the screenshot. According to https://developer.chrome.com/docs/apps/nativeMessaging/#native-messaging-debugging the displayed error message may be displayed in the following cases:
- Is the name spelled correctly in the extension and in the manifest file?
- Is the manifest put in the right directory and with the correct name? See native messaging host location for the expected formats.

[2021-06-01 16:47] tobiasdiez commented on #325
I just noticed that the json file for chromimum should indeed be different. Please try this one https://raw.githubusercontent.com/JabRef/jabref/master/buildres/mac/native-messaging-host/chromium/org.jabref.jabref.json

[2021-06-01 20:50] tobiasdiez commented on #325
Glad it is working for you now! The first time you tried it, did you used the json file from the documentation or did you reuse one that was installed by JabRef?

@LyzardKing could it be that we installed the wrong file?
https://github.com/JabRef/jabref/blob/bb011c9313367a28990ae213b3920fe6cd10d1dc/buildres/mac/postinstall#L14
Looks correct to me. Is the install command overwriting already existin

[2021-06-02 08:18] scfrank commented on #325
I can't remember, but looking at my terminal history from I suspect the file was already there, either from JabRef or the early installation of the extension.
(looking back - I do seem to have downloaded the mac+firefox version in November 2020, which seems weird, given that I was definitely using Vivaldi then. No wonder it never worked!)

[2021-07-12 08:55] jelasity opened #439 "Every word of title is protected in imported records"
Hi, I realized that in entries imported using the web browser plugin, every word of the title is protected to preserve "title case" capitalization. This is incorrect behavior, because the capitalization of the title is defined by bibtex styles. Only specific words should to be protected such as proper names.

I was not able to find any possibility to switch this behavior off (eg in preferences, or

[2021-07-14 11:51] reox commented on #274
I recently updated to JabRef 5.3 but there is still this issue.
Is there anything else I can try?

[2021-07-18 10:31] tobiasdiez commented on #274
What happens if you use `Out-File -Encoding utf8NoBOM` https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.utility/out-file?view=powershell-7.1#parameters to ensure that the dumped file is in utf8? (According to the documentation, this is actually the default...strange).

[2021-07-19 06:42] reox commented on #274
I just tried that but then the script crashes.
I have added:
[code]

The results:
[code]

As said, utf8NoBom crashes... Unfortunately, I can not see why - the firefox extension simply says "Error while sending to JabRef.
Please see the browsers error console for details." but I can not see anything there.
When I run that command on a shell, I get:
[code]

It looks like I'm running PS5:
[code]

I d

[2021-07-19 07:01] reox commented on #274
As a workaround, I created a temporary file and import that one:
[code]

This seems to work flawlessly!

[2021-07-19 07:21] tobiasdiez commented on #274
Whooo, nice! I'm glad you found a workaround.

May I ask you to open a PR at the main jabref repo with the changes to the powershell script https://github.com/JabRef/jabref/blob/main/buildres/windows/JabRefHost.ps1? Your approach with writing to a temporary file namely also fixes https://github.com/JabRef/jabref/issues/7374.

[2021-07-19 08:14] reox commented on #274
The only issue is: it seems to only work with ps7...
Because in 5.1, the default was apprently unicode: https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.utility/out-file?view=powershell-5.1#parameters
and because NoBom was not available back then, jabref would not accept that file.

Thus, it would require to check whenever ps5 is used and use the old method or if ps7 is used

[2021-07-19 09:20] tobiasdiez commented on #274
You could use `$PSVersionTable.PSVersion.Major` to get the powershell version. Then for `>= 7` one can use `utf8NoBom`, and for `< 7` one can use `utf8` for the encoding of the temporary file. Would that work?

[2021-07-19 09:31] reox commented on #274
could work yes - however for 5.1 there seems to be no way to write a file without BOM, or at least I can not make it work. Then you also have to switch in the bat file to the correct interpreter. The MSDN tells me that the 5.1 interpreter is called `powershell.exe` and the newer ones `pwsh.exe`. Thus you would have to check if pwsh.exe is installed and fallback to powershell.exe?

[2021-07-19 10:41] tobiasdiez commented on #274
What are the issues one encounters when using utf8 with BOM?

Yes, you are right the bat file also needs to be changed to run pwsh instead of powershell. The following might be helpful for this:
https://github.com/Jonathing/MCGradle-Scripts/blob/8dcccac6ba62e7e0fa5de4c2cfd500b50b1cc692/wrappers/MCGradle%20Scripts.bat#L6-L19
https://github.com/BlueBubblesApp/flutter2/blob/48c2a67b70c9a4c83e86d6f06a

[2021-07-19 11:11] reox commented on #274
see https://github.com/JabRef/JabRef-Browser-Extension/issues/274#issuecomment-879825946

then it can not be imported in jabref.

[2021-07-19 11:27] tobiasdiez commented on #274
Ah ok, I thought it was a problem with utf16. I'm shooting a bit in the blue, but does it work if you use `[IO.File]::WriteAllLines($tempfile, $messageText)` as suggested here https://stackoverflow.com/a/32951824/873661 ?

[2021-07-19 11:59] reox commented on #274
yes!
Using that I got it working in PS5.1.

I created a PR here: https://github.com/JabRef/jabref/pull/7918

[2021-07-19 12:16] tobiasdiez commented on #274
Nice! Thanks a lot for your continued work on this issue. Very much appreciated ❤️

[2021-07-19 12:25] reox commented on #274
thank you for the powershell tricks ;)

[2021-07-19 18:39] #274 closed

[2021-08-10 12:24] RashiqAzhan commented on #278
The problem still exists; it's present with all the browsers (all 3 variants of firefox, iridium, vivaldi).
I get the "Specified native messaging host not found." in the extensions even after having added using PowerShell. I checked with the Registry Editor to see if the command stuck and it did.

[2021-08-13 10:48] tobiasdiez commented on #278
I'm sorry to hear that this problem is still not resolved. Sadly there are so many variables and the browsers don't really say what's the problem. According to https://developer.chrome.com/docs/apps/nativeMessaging/#native-messaging-debugging, your error message indicates that either the manifest json is not found, or that the path specified in the json file is not correct.

I suggest you start by

[2021-08-15 12:25] RashiqAzhan commented on #278
@tobiasdiez I understand and thank you for taking the time to reply.

For anyone who is still running into this issue, here is how I solved it.

1. Uninstall Jabref completely (along with the registry modifications). This step is easier said than done and I used [BCU (Bulk Crap Uninstaller)](https://github.com/Klocman/Bulk-Crap-Uninstaller) to remove everything from all the residual files to all t

[2021-08-16 08:51] starsareintherose opened #345 "Error while sending to JabRef."
Error while sending to JabRef.
Please see the browsers error console for details.
[zookeys.pensoft.net-1629103815705.log](https://github.com/JabRef/JabRef-Browser-Extension/files/6990964/zookeys.pensoft.net-1629103815705.log)
OS: ArchLinux
Extension: Chrome

[2021-08-17 16:12] tobiasdiez commented on #278
I'm happy you found a solution.

For everyone running into the same issues, please try first if a simple JabRef uninstall + reinstall works before you proceed with the steps of @RashiqAzhan. Some of them (like SFC + DISM) are only recommended for users with experience of what these commands do.

[2021-08-17 16:14] tobiasdiez commented on #345
Does this occur on every website?

[2021-08-17 17:22] starsareintherose commented on #345
Right

[2021-08-17 17:33] starsareintherose commented on #345
That's working, sorry for this report, I haven't configured`~/.config/microsoft-edge-dev/NativeMessagingHosts/org.jabref.jabref.json`

[2021-08-17 17:33] #345 closed

[2021-08-17 17:34] starsareintherose commented on #345
That's working, sorry for this report, I haven't configured`~/.config/microsoft-edge-dev/NativeMessagingHosts/org.jabref.jabref.json`

[2021-08-18 12:29] starsareintherose opened #348 "Edge Extension get Amazon Books broken"
When Edge Extension gets Amazon Books, the memory will be fullfiled and the edge will be frozen and can't be used until restart edge.
My configure
[code]

[2021-08-19 17:34] tobiasdiez commented on #348
You are using edge preview on linux?
Is it only happening on amazon books, or everywhere?

[2021-08-20 17:34] starsareintherose commented on #348
Right, this is microsoft-edge-dev-bin in AUR, and it only happens on Amazon.

[2021-10-12 07:12] SlaggyWolfie opened #364 "Crash right after a successful import on Chrome and Edge on Windows 10"
Whenever I (successfully) import an entry in JabRef via the browser extension it immediately crashes on Chrome and Edge on Windows 10. Chrome is my main browser so it has a boat-load of other extensions including an AdBlocker. However, I tested with Edge and it still crashed. I am a bit aware that Edge is just Chromium under the hood, but I genuinely have no idea why. I white-listed Zotero via the

[2021-10-18 11:33] sdall opened #371 "native-messaging-host files are missing when installing JabRef via its official GitHub release for MacOS."
Installing JabRefs *.dmg release from GitHub (via [brew](https://github.com/Homebrew/homebrew-cask/blob/HEAD/Casks/jabref.rb)) does not create the required native-messaging-host/* files as part of the [postinstall](https://github.com/JabRef/jabref/blob/bb011c9313367a28990ae213b3920fe6cd10d1dc/buildres/mac/postinstall) script.

Would it be possible to perform the necessary post installation step as

[2021-10-20 10:46] SlaggyWolfie commented on #364
Any updates?

[2021-10-20 22:41] ohusiev commented on #364
Recently tried to use JabRef and also got the same issue with the browser extension for Chrome (on Windows 10).  It's crushing after each click to add a source via an extension (to already manually opened JabRef Desktop).

[2021-10-22 11:28] funnym0nk3y opened #372 "Springer Link does not work for books"
I'm having trouble importing books from Springer Link but no issues with articles like in #90

https://aip.scitation.org/doi/10.1063/1.4896698
https://link.springer.com/book/10.1007/978-3-642-31558-9
https://link.springer.com/article/10.1007%2Fs11005-017-1018-z#Bib1
https://www.worldscientific.com/doi/abs/10.1142/S0129055X19500168

Those are the logs:
[code]

[2021-11-02 08:13] ManjuO opened #374 "JABREF Chrome extension only works on some sites:"
When the JABREF desktop app is closed, the Chrome extension works as it should, sometimes. For many websites, it look like this:
![image](https://user-images.githubusercontent.com/63151192/139808598-54fcbeaa-d059-4883-b5df-0ee80b870abd.png
![Snag_5a9d29f0](https://user-images.githubusercontent.com/63151192/139808659-454ecb69-0700-4cae-bf2c-98b66ec4ab91.png)
)

Here is an example link that was not

[2021-11-02 11:32] SlaggyWolfie commented on #364
@tobiasdiez

[2021-11-24 10:32] cyprienruffino opened #381 "Error while sending to JabRef (Linux)"
Piggybacking on  issue #278
This time, on ArchLinux (5.15.4), with Mozilla Firefox 94.0.2.

I get the error :
"Error while sending to JabRef.
Please see the browsers error console for details."

In the console,
No such native application org.jabref.jabref

I tried installing JabRef manually from the git and from the AUR repos.

Same as  issue #278 , in the add-on setting, it says : "Connection sta

[2021-11-24 10:36] LyzardKing commented on #381
If you install from the git repo or AUR you have to install the native messaging part manually (as described at https://docs.jabref.org/collect/jabref-browser-extension).

[2021-11-24 10:43] cyprienruffino commented on #381
Wow, now that was a quick answer. Shame on me for not reading the doc thoroughly.
Thanks, closing issue.

[2021-11-24 10:43] #381 closed

[2021-11-24 12:41] Quacken8 opened #382 "Does not work with snap version of firefox: can't find org.jabref.jabref"
Just like in issue #381, however I installed using the Firefox extensions.

Error is
`"No such native application org.jabref.jabref"`

and jabref extension says
[code]

however `/usr/lib/mozilla/native-messaging-hosts` contains `org.jabref.jabref.json` and it points to `/opt/jabref/lib/jabrefHost.py` which is present and executable

JabRef desktop is version 5.3, extension is 2.4.

I tried reinsta

[2021-11-24 16:41] LyzardKing commented on #382
Could you give more details on the system and browser?
In particular: is the browser installed via snap/flatpak?

[2021-11-25 07:30] Quacken8 commented on #382
@LyzardKing the browser is Mozilla Firefox 94.0.2 64 bit via snap

[2021-11-25 09:41] LyzardKing commented on #382
If you're running the snap there are further permissions to enable.
You can find them at https://docs.jabref.org/collect/jabref-browser-extension

In your case it should be: snap connect jabref:hostfs-mozilla-native-messaging-jabref

[2021-11-25 11:39] Quacken8 commented on #382
I didn't realize I had to take into account whether Firefox was installed via snap. Now however after enabling these permissions the connection status hasn't changed and the icon for jabref on relevant websites disappeared; restarting any of the involved apps or system reboot doesn't help.

[2021-11-26 14:44] tobiasdiez commented on #364
Sorry for the late response.

I sadly cannot reproduce this on Win 11 + Chrome  96.0.4664.45 (Official Build) (64-bit). Maybe the recent update fixed it?

If you still experience this, can you please open the "Developer tools" (Ctrl + Shift + I) and go to console. Then try to import into Jabref and copy everything that is displayed in the console.

[2021-11-26 14:46] tobiasdiez commented on #374
The extension sadly doesn't work for PDF files. On one hand, it's very hard to extract metadata from pdfs and on the other hand browser put the pdf reader in a special sandbox so that browser extensions cannot interact with it. So sadly nothing we can do here.

What usually works is to import the website that links to the pdf (e.g. the journal website).

[2021-11-26 14:46] #374 closed

[2021-11-27 16:30] Quacken8 commented on #382
Confusing update: after no change in particular the icon in the address bar is back and so is the error mentioned in original post (despite snap permissions allowed)

[2021-11-27 17:39] LyzardKing commented on #382
For the snap integration the json file is installed in `/var/lib/snapd/hostfs/usr/lib/mozilla/native-messaging-hosts/org.jabref.jabref.json` when you run the `snap connect` command

That file should point to this executable: `/snap/bin/jabref.browser-proxy`

[2021-11-27 18:20] Quacken8 commented on #382
My `/var/lib/snapd/hostfs/` is empty, I have `org.jabref.jabref.json` in `/usr/lib/mozilla/native-messaging-hosts`

[2021-12-08 20:20] wavemaking opened #389 "Stalled at "Searching for bibliographic data..." with error "TypeError: this._translatorInfo is undefined" from translate.js:2391:22 in Firefox"
Since recently I can't use the browser extension anymore to fetch bibliographic data. It stalls at "Searching for bibliographic data..."

This occurs both in Firefox and in Chrome on Windows 10. I tried both Jabref 5.3 and 5.2 (both portable, following the additional instructions on .bat and .ps1 files). It happens both on scholar.google.com  and arxiv.org. In fact, I can't find a site that works.

[2021-12-21 14:49] wavemaking commented on #389
This issue resolved itself when I upgraded to Jabref 5.4 and after having updated the windows registry as per the instructions at https://docs.jabref.org/collect/jabref-browser-extension#windows

Closing this.

[2021-12-21 14:49] #389 closed

[2021-12-21 16:26] tobiasdiez commented on #389
That's good to hear! I'm happy its now working for you.
Sorry for not having reacted to your initial message; been a bit busy here lately.

[2021-12-27 00:26] bhatiaa opened #390 "OS X, Edge: Error while sending to JabRef. Please see the browsers error console for details."
Hi,
 I am trying to use the JabRef Extension for Edge Beta browser on OS X, and I keep getting the following error across multiple sites (Google Scholar, PubMed, etc.).

_Error while sending to JabRef.
Please see the browsers error console for details._

I opened the Developer Console and I have the following message:
![image](https://user-images.githubusercontent.com/24972868/147423394-7138d3a9-1

[2021-12-27 20:49] tobiasdiez commented on #390
Then please create them and otherwise follow the documentation. @LyzardKing can we install the manifest automatically as for the other browsers?

Looks like you still use an old version of Python. Could you please make sure that Python 3 is used by default, then it should work. @LyzardKing should we change the shebang to use `python3`?

[2021-12-28 04:09] bhatiaa commented on #390
Thanks for all the help - I followed the instructions and placed org.jabref.jabref.json in the folder ~/Library/Application Support/Microsoft Edge Beta/NativeMessagingHosts/.

I tried again, the same error message pops up - _"Error while sending to JabRef.
Please see the browsers error console for details."_ There are no errors on the Developer console. I am guessing that the requirement to have p

[2021-12-28 10:19] LyzardKing commented on #390
I believe it is already be set to python3.
Regarding the manifest, we set the .pkg installer to automatically copy those files to the correct locations, although they cannot be removed automatically on uninstall.
The .dmg cannot run install scripts.
I was thinking that the copy could be done from the settings panel, so from JabRef itself, what do you think @tobiasdiez ?

[2021-12-28 14:55] janikmu commented on #364
I don't know if this is the same/a similar issue, or unrelated, but I observe the following behavior:

I have Jabref opened and I import something from the browser extensions (2.4 on Edge 96.0.1054.62 (Official Build) (64-bit)). This successfully opens the import dialog in the existing Jabref application window but also opens another Jabref instance with the same import dialog. I can successfully

[2021-12-29 11:58] funnym0nk3y commented on #372
Nothing I can do?

[2021-12-29 16:51] LyzardKing commented on #372
I cannot replicate the issue.
Only one of the websites you link to did not work (https://link.springer.com/book/10.1007/978-3-642-31558-9), with the following error:

[2021-12-30 11:07] funnym0nk3y commented on #372
Yeah, exactly. All the linked articles work just fine except books with the URL [](https://link.springer.com/books/)...
I tried it with a dozen books or so.

[2022-01-07 20:16] tobiasdiez commented on #364
Strange. Can you make sure you have "Remove operation" enabled in JabRef under Options > Preferences > Network. Then you should only get once JabRef instance, regardless of how you open/import something.

[2022-01-07 20:25] tobiasdiez commented on #390
Ah, I should have looked it up. With the correct shebang, python3 should automatically be used by chrome to open the file. However, my command above explicitly referenced the standard python and hence overwrites the shebang.
What should work is either calling `python3 /Applications/JabRef.app/Contents/Resources/jabrefHost.py` or just `/Applications/JabRef.app/Contents/Resources/jabrefHost.py`

I l

[2022-01-08 09:49] LyzardKing commented on #390
I'm not sure about the macos specific permissions, but if we install in the user home folder (so not system wide) it should work.
The same could be done for the linux version.
I've been thinking about this for a while now. Unfortunately I don't have too much time, but it would be a lot more user friendly, and common to the different OS versions. If the system can detect the installed browsers it c

[2022-01-08 12:49] tobiasdiez commented on #390
Good points, I've opened https://github.com/JabRef/jabref/issues/8400 to track this.

[2022-01-15 15:03] ckassung opened #398 "Error while sending to JabRef"
Hi everybody,

invoking Firebox extension quits with
- Error while sending to JabRef.
- Please see the browsers error console for details.

In my jabref_browser_extension.log, I get
- ERROR:root:Failed to call JabRef: 127 b'/snap/jabref/1401/bin/JabRef: 3: /lib/runtime/bin/java: not found\n'

JabRef is running perfectly (Debian Bullseye). JabRef is installed in /snap/jabref/current/, I refer to ja